<ggc-home-example-format
  [title]="componentInfo.title"
  [pathModule]="urlComponentModule"
  [urlTSDocs]="tsDocsUrl"
>
  @if (componentInfo.tags && componentInfo.tags?.length > 0) {
    <div page-labels>
      @for (tag of componentInfo.tags; track tag) {
        <span class="badge rounded-pill tag-technical mx-1">{{
          tag.toLocaleLowerCase()
        }}</span>
      }
    </div>
  }

  <div page-introduction>
    <p>
      {{ componentInfo.introduction }}
    </p>
    <p>
      De legenda wordt automatisch bijgewerkt als er kaartlagen in de
      kaartcomponent (ggc-map) zichtbaar worden of verdwijnen.
    </p>
    <p>
      <b>Let op:</b> in de kaartconfiguratie is het noodzakelijk dat de
      <code>activeLegend</code> gevuld is met bijvoorbeeld een
      <code>legendUrl</code>. Bekijk de
      <a
        href="/tsdocs/types/ggc-models_src_public-api.LegendType.html"
        target="_blank"
        >TSDocs van LegendType<span
          class="fa fa-external-link icon-suffix"
          aria-hidden="true"
        ></span
      ></a>
      voor alle typen legenda's die kunnen worden toegevoegd.
    </p>
  </div>

  <div page-functionality>
    <div class="row">
      <!-- DOCS:START functionality -->
      <div class="col-xl-3 col-md-4 col-sm-12">
        <div class="legend-container">
          <b>Legenda</b>
          <ggc-legend></ggc-legend>
        </div>
      </div>
      <div class="col-xl-7 col-md-6 col-sm-12">
        <div class="map-container">
          <ggc-map [webServices]="mapConfig"></ggc-map>
        </div>
      </div>
      <!-- DOCS:END functionality -->
      <div class="col-xl-2 col-md-2 col-sm-12">
        <div class="row options-toggle">
          <label class="switch">
            <input
              (change)="goToPage('/legend-advanced')"
              type="checkbox"
            />
            <span class="slider round"></span>
            Extra opties
          </label>
        </div>
      </div>
    </div>
  </div>
</ggc-home-example-format>
