<app-example-format
  [title]="componentInfo.title"
  [pathModule]="urlComponentModule"
  [urlTSDocs]="tsDocsUrl"
>
  @if (componentInfo.tags && componentInfo.tags?.length > 0) {
    <div page-labels>
      @for (tag of componentInfo.tags; track tag) {
        <span class="badge rounded-pill tag-technical mx-1">{{
          tag.toLocaleLowerCase()
        }}</span>
      }
    </div>
  }

  <div page-introduction>
    <p>
      {{ componentInfo.introduction }}
    </p>
  </div>

  <div page-functionality>
    <!-- DOCS:START functionality -->
    <div class="map-container">
      <div class="map-wrapper main-map">
        <ggc-map
          [mapIndex]="mapIndex"
          [minZoomlevel]="2"
          [webServices]="mapConfig"
        ></ggc-map>
      </div>
      <div class="map-wrapper overview-map">
        <ggc-map
          [mapIndex]="mapIndexOverzicht"
          [webServices]="mapConfigOverzicht"
        ></ggc-map>
      </div>
    </div>
    <!-- DOCS:END functionality -->
  </div>
</app-example-format>
