.card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 320px), 1fr));
  gap: 16px;
  max-inline-size: 1360px;
  margin-inline: auto;
  block-size: 100%;
  padding: 0 16px 16px 16px;
}

.voorbeelden-banner-button {
  background-color: var(--ggc-color-primary-400);
  width: 100%;
  border-width: 0;
  padding: 0 10px 10px 10px;
  text-align: left;
  span {
    color: var(--ggc-color-primary-100);
  }
  .voorbeelden-banner {
    width: 100%;
    height: 100px;
    background-image: url("/assets/voorbeelden-banner-repeat.png");
    background-repeat: repeat-x;
    background-position: calc(50% - 926px) center;
    background-color: var(--ggc-color-primary-400)
  }
}
