<app-example-format
  [pathModule]="urlComponentModule"
  [title]="componentInfo.title"
  [urlTSDocs]="tsDocsUrl"
>
  @if (componentInfo.tags && componentInfo.tags?.length > 0) {
    <div page-labels>
      @for (tag of componentInfo.tags; track tag) {
        <span class="badge rounded-pill tag-technical mx-1">{{
          tag.toLocaleLowerCase()
        }}</span>
      }
    </div>
  }
  <div page-introduction>
    <p>
      {{ componentInfo.introduction }}
    </p>
    <p>
      Dit is mogelijk voor WMTS- ,WMS-, GeoJSON-kaart(en) en OGC API vector
      Tiles.
      <br />
      Dit voorbeeld toont de grenzen van gemeenten. Na klikken in de kaart wordt
      de informatie opgehaald van de kaartlaag. De informatie van het gekozen
      object wordt getoond en het object wordt op de kaart gemarkeerd.
    </p>
    <p>Instelmogelijkheden voor het tonen van objectinformatie:</p>
    <ul>
      <li>
        Toon melding "Geen informatie beschikbaar" als geen gemeente is
        geselecteerd (<code>showEmptyMessage</code>)
      </li>
      <li>
        Verberg "1 van 1" als maar één object geselecteerd is
        (<code>hidePagerWithOneFeature</code>). Deze wijziging wordt pas actief
        nadat een nieuwe selectie is gedaan.
      </li>
      <li>
        Wisselen tussen lijst- of tabelweergave
        (<code>FeatureInfoDisplayType</code>)
      </li>
      <li>
        Highlight stijl veranderen (<code>changeHighlightLayerStyle</code>)
      </li>
    </ul>
  </div>
  <div page-functionality>
    <div class="row">
      <!-- DOCS:START functionality -->
      <div class="col-xl-3 col-md-5 col-sm-5">
        <div class="feature-info-container">
          <b>Feature Info</b>
          <br />
          <ggc-feature-info
            [featureInfoDisplayType]="featureInfoDisplayType"
            [hidePagerWithOneFeature]="hidePagerWithOneFeature"
            [mapIndex]="mapIndex"
            [showEmptyMessage]="showEmptyMessage"
          >
          </ggc-feature-info>
        </div>
      </div>
      <div class="col-xl-6 col-md-4 col-sm4">
        <div class="map-container">
          <ggc-map [mapIndex]="mapIndex" [webServices]="mapConfig"></ggc-map>
        </div>
      </div>
      <!-- DOCS:END functionality -->
      <div class="col-xl-3 col-md-3 col-sm-3">
        <div class="row options-toggle">
          <h6 id="extraOptionsLabel">Extra opties</h6>
          <label class="switch">
            <input
              (change)="goToPage('/feature-info-basic')"
              aria-labelledby="extraOptionsLabel"
              checked
              type="checkbox"
            />
            <span class="slider round"></span>
          </label>
        </div>
        <br />
        <div>
          <label>
            <input [(ngModel)]="showEmptyMessage" type="checkbox" />
            Toon melding "Geen informatie beschikbaar"
          </label>
        </div>
        <br />
        <div>
          <label>
            <input [(ngModel)]="hidePagerWithOneFeature" type="checkbox" />
            Verberg paginering bij 1 resultaat
          </label>
        </div>
        <br />
        <div>
          <label class="switch">
            <input
              (change)="toggleFeatureInfoDisplayType()"
              checked
              type="checkbox"
            />
            <span class="slider round"></span>
          </label>
          Wissel tussen Lijst en Tabel weergave
        </div>
        <br />
        <div>
          <label class="switch">
            <input (change)="toggleHighlightStyle()" checked type="checkbox" />
            <span class="slider round"></span>
          </label>
          Wissel highlight style
        </div>
      </div>
    </div>
  </div>
</app-example-format>
