<app-example-format
  [codeHtmlPath]="'code/examples/example-measure/example-measure/example-measure.component.html'"
  [codeScssPath]="'code/examples/example-measure/example-measure/example-measure.component.scss'"
  [codeTypescriptPath]="'code/examples/example-measure/example-measure/example-measure.component.ts'"
  [kaartConfigFilePath]="'code/examples/example-measure/example-measure/kaartconfig.json'"
  [title]="componentInfo.title"
  urlChangelog=""
  urlCodeHtml="example-draw/example-measure/example-measure/example-measure.component.html"
  urlCodeScss="example-draw/example-measure/example-measure/example-measure.component.scss"
  urlCodeTypescript="example-draw/example-measure/example-measure/example-measure-.component.ts"
  urlGitHub=""
  urlKaartConfig="example-measure/kaartconfig.json"
  urlTSDocs=""
  urlTreeConfig=""
  urlVoorbeelden=""
>
  @if (componentInfo.tags && componentInfo.tags?.length > 0) {
    <div page-labels>
      @for (tag of componentInfo.tags; track tag) {
        <span class="badge rounded-pill tag-technical mx-1">{{
          tag.toLocaleLowerCase()
        }}</span>
      }
    </div>
  }

  <div page-introduction>
    <p>{{ componentInfo.introduction }}</p>
    <p>
      In dit voorbeeld zie je bij het tekenen van een lijn de lengte van ieder
      lijnstuk en de totale lengte van de hele lijn. Bij het tekenen van een
      vlak (polygoon) zie je de lengte van ieder lijnstuk en de oppervlakte.
    </p>
    <p>Instelmogelijkheden voor meten met <code>drawOptions</code>:</p>
    <ul>
      <li>
        Lengte van elk lijnstuk (segment) laten zien
        (<code>showSegmentLength</code>)
      </li>
      <li>
        Totale lengte van alle lijnstukken laten zien
        (<code>showTotalLength</code>)
      </li>
      <li>
        Oppervlakte van een vlak (polygoon) laten zien (<code>showArea</code>)
      </li>
    </ul>
  </div>

  <div page-functionality>
    <div class="row">
      <!-- DOCS:START functionality -->
      <div class="col-md-3 col-sm-6">
        <div>
          <b>Meten</b>
          <div class="d-flex flex-column align-items-stretch">
            <button
              [class.active]="measuring() === mapComponentDrawTypes.LINESTRING"
              (click)="measureLine()"
            >
              Teken en meet lijn
            </button>
            <button
              [class.active]="measuring() === mapComponentDrawTypes.POLYGON"
              (click)="measurePolygon()"
            >
              Teken en meet vlak
            </button>
            <hr />
            <button (click)="stopMeasureManual()">
              Tekenen en meten afronden
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-10">
        <div class="map-container">
          <ggc-map
            [mapIndex]="mapIndex"
            [webServices]="mapConfig"
            [minZoomlevel]="6"
          ></ggc-map>
        </div>
      </div>
      <!-- DOCS:END functionality -->
    </div>
  </div>
</app-example-format>
