<H1>Welkom bij de workshop: Aan de slag met Generieke Geo Componenten</H1>
<p>Kies hierboven een opdracht.</p>
<p>
  <strong>Handige links</strong>
</p>
<ul>
  <li>
    Bekijk
    <a href="https://generiekegeocomponenten.nl" target="_blank">GGC-home</a>
    voor bekijk onze
    <a href="https://generiekegeocomponenten.nl/example-index" target="_blank"
      >voorbeelden</a
    >, de
    <a href="https://generiekegeocomponenten.nl/quick-start" target="_blank"
      >quick start</a
    >
    of de
    <a href="https://www.generiekegeocomponenten.nl/tsdocs/" target="_blank"
      >TS Docs</a
    >
  </li>
  <li>
    Bekijk <a href="https://api.pdok.nl/" target="_blank">PDOK</a> voor meer
    datasets
  </li>
</ul>
