<h1>Een kaartviewer bouwen</h1>
<p>
  Pas de viewer aan door componenten toe te voegen.
  <br />
  Bekijk de
  <a href="https://generiekegeocomponenten.nl/example-index" target="_blank"
    >voorbeelden in GGC Home</a
  >
  voor inspiratie over welke componenten je kunt toevoegen en hoe je deze
  toevoegt. Denk bijvoorbeeld aan het toevoegen van een zoekbalk (<a
    href="https://generiekegeocomponenten.nl/search-location"
    target="_blank"
    >ggc-search-location</a
  >) of een legenda (<a
    href="https://generiekegeocomponenten.nl/legend-basic"
    target="_blank"
    >ggc-legend</a
  >).
</p>
<div class="row">
  <div style="height: 70vh">
    <ggc-map [webServices]="webService"></ggc-map>
  </div>
</div>
