<ggc-home-example-format
  [pathModule]="urlComponentModule"
  [title]="componentInfo.title"
  [urlTSDocs]="tsDocsUrl"
>
  @if (componentInfo.tags && componentInfo.tags?.length > 0) {
    <div page-labels>
      @for (tag of componentInfo.tags; track tag) {
        <span class="badge rounded-pill tag-technical mx-1">{{
          tag.toLocaleLowerCase()
        }}</span>
      }
    </div>
  }
  <div page-introduction>
    <p>
      {{ componentInfo.introduction }}
    </p>
    <p>
      Dit is mogelijk voor WMTS- ,WMS-, GeoJSON-kaart(en) en OGC API vector
      Tiles. Met
      <code>FeatureInfoTabs</code> wordt de informatie getoond in tabbladen. Dit
      voorbeeld toont de grenzen van gemeenten en provincies. Na klikken in de
      kaart wordt de informatie opgehaald van beide kaartlagen. In de tabbladen
      wordt de titel van de kaartlaag getoond. De informatie van de gekozen
      objecten wordt getoond en de objecten worden op de kaart gemarkeerd.
    </p>
  </div>
  <div page-functionality>
    <div class="row">
      <!-- DOCS:START functionality -->
      <div class="col-xl-3 col-md-5 col-sm-5">
        <div class="feature-info-container">
          <b>Feature Info</b>
          <ggc-feature-info-tabs [mapIndex]="mapIndex" [showEmptyTabs]="true">
            <ggc-feature-info
              [featureInfoDisplayType]="featureInfoDisplayType"
              [hidePagerWithOneFeature]="hidePagerWithOneFeature"
              [mapIndex]="mapIndex"
              [showEmptyMessage]="showEmptyMessage"
            >
            </ggc-feature-info
          ></ggc-feature-info-tabs>
          <br />
          <div>
            <label class="switch">
              <input (change)="toggleTabOrder()" checked type="checkbox" />
              <span class="slider round"></span>
              Wissel volgorde van tabs
            </label>
          </div>
        </div>
      </div>
      <div class="col-xl-9 col-md-7 col-sm7">
        <div class="map-container">
          <ggc-map [mapIndex]="mapIndex" [webServices]="mapConfig"></ggc-map>
        </div>
      </div>
      <!-- DOCS:END functionality -->
    </div>
  </div>
</ggc-home-example-format>
