<app-example-format
  [pathModule]="urlComponentModule"
  [title]="componentInfo.title"
  [urlTSDocs]="tsDocsUrl"
>
  @if (componentInfo.tags && componentInfo.tags?.length > 0) {
    <div page-labels>
      @for (tag of componentInfo.tags; track tag) {
        <span class="badge rounded-pill tag-technical mx-1">{{
          tag.toLocaleLowerCase()
        }}</span>
      }
    </div>
  }
  <div page-introduction>
    <p>
      {{ componentInfo.introduction }}
    </p>
    <p>Introductie</p>
  </div>
  <div page-functionality>
    <div class="row">
      <!-- DOCS:START functionality -->
      <div class="col-xl-3 col-md-4 col-sm-5">
        <div class="feature-info-container">
          <b>Niet Aangepaste Feature Info</b>
          <br />
          <ggc-feature-info
            [hidePagerWithOneFeature]="true"
            [mapIndex]="mapIndex"
          ></ggc-feature-info>
        </div>

        <div class="feature-info-container">
          <b>Aangepaste Feature Info</b>
          <br />
          <ggc-feature-info
            [customAttributeNamesAndValues]="customAttributeNamesAndValues"
            [hidePagerWithOneFeature]="true"
            [mapIndex]="mapIndex"
          ></ggc-feature-info>
        </div>
      </div>
      <div class="col-xl-7 col-md-6 col-sm-5">
        <div class="map-container">
          <ggc-map [mapIndex]="mapIndex" [webServices]="mapConfig"></ggc-map>
        </div>
      </div>
      <!-- DOCS:END functionality -->
    </div>
  </div>
</app-example-format>
