<app-example-format
  [pathModule]="urlComponentModule"
  [title]="componentInfo.title"
  [urlTSDocs]="tsDocsUrl"
>
  @if (componentInfo.tags && componentInfo.tags?.length > 0) {
    <div page-labels>
      @for (tag of componentInfo.tags; track tag) {
        <span class="badge rounded-pill tag-technical mx-1">{{
          tag.toLocaleLowerCase()
        }}</span>
      }
    </div>
  }
  <div page-introduction>
    <p>
      {{ componentInfo.introduction }}
    </p>
    <p>Introductie</p>
  </div>
  <div page-functionality>
    <div class="row">
      <!-- DOCS:START functionality -->
      <div class="col-xl-4 col-md-5 col-sm-6">
        <div class="feature-info-container">
          <i>Aangepaste veld namen:</i>
          <br />
          <div>code => <b>gemeente code</b></div>
          <div>ligtInProvincieNaam => <b>ligt in</b></div>
          <br />
          <i>Aangepaste waardes:</i>
          <br />
          <div>code => <b>GM</b> + code</div>
          <div>naam => <b>gemeente</b> + naam</div>
          <br />
          <ggc-feature-info
            [customAttributeNamesAndValues]="customAttributeNamesAndValues"
            [hidePagerWithOneFeature]="true"
            [mapIndex]="mapIndex"
          ></ggc-feature-info>
        </div>
      </div>
      <div class="col-xl-8 col-md-7 col-sm-6">
        <div class="map-container">
          <ggc-map [mapIndex]="mapIndex" [webServices]="mapConfig"></ggc-map>
        </div>
      </div>
      <!-- DOCS:END functionality -->
    </div>
  </div>
</app-example-format>
