<ggc-home-example-format
  [title]="componentInfo.title"
  [pathModule]="urlComponentModule"
  [urlTSDocs]="tsDocsUrl"
  [pathExtraConfig]="'example-search-location/example-search-location-alternative-search/alternative-suggest.service.ts'"
  [extraConfigLabel]="`AlternativeSuggestService`"
  [extraConfigLanguage]="'typescript'"
>
  @if (componentInfo.tags && componentInfo.tags?.length > 0) {
    <div page-labels>
      @for (tag of componentInfo.tags; track tag) {
        <span class="badge rounded-pill tag-technical mx-1">{{
          tag.toLocaleLowerCase()
        }}</span>
      }
    </div>
  }

  <div page-introduction>
    <p>
      {{ componentInfo.introduction }}
    </p>
    <p>
      In dit voorbeeld kan je ook zoeken in een eigen collectie naast de PDOK
      Locatie API , namelijk de BAG terugmeldingnummers. Door te zoeken op "BAG"
      met een (deel van het) meldingsnummer erachter, kan je zoeken naar
      terugmeldingen met het opgegeven meldingsnummer.
      <br />
      Een eigen collectie gebruiken kan als volgt:
    </p>
    <ol>
      <li>
        Maak een eigen service aan die de search functie implementeerd, zie
        hiervoor GgcAdditionalSuggestionSourceService. Wij hebben hiervoor een
        AlternativeSuggestService gemaakt.
      </li>
      <li>Provide deze service als GgcAdditionalSuggestionSourceService.</li>
      <li>
        Vang SearchComponentEvents af om resultaten van je eigen collectie te
        behandelen. In dit geval zoomen wij in naar het coördinaat van de
        gezochte melding. Er wordt automatisch in de PDOK resultaten gezocht,
        dus deze hoef je niet af te vangen.
      </li>
    </ol>
  </div>

  <div page-functionality>
    <div class="row">
      <!-- DOCS:START functionality -->
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-8">
        <ggc-feature-info
          [mapIndex]="mapIndex"
          [hidePagerWithOneFeature]="true"
        ></ggc-feature-info>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-4">
        <div>
          <ggc-search-location
            (events)="handleSearchComponentEvent($event)"
            [searchLocationOptions]="searchLocationOptions"
          ></ggc-search-location>
        </div>
        <div class="map-container">
          <ggc-map [webServices]="mapConfig" [mapIndex]="mapIndex"></ggc-map>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
        <ggc-feature-info
          [mapIndex]="mapIndex"
          [hidePagerWithOneFeature]="true"
        ></ggc-feature-info>
      </div>
      <!-- DOCS:END functionality -->
    </div>
  </div>
</ggc-home-example-format>
