<app-example-format
  [title]="componentInfo.title"
  [pathModule]="urlComponentModule"
  [urlTSDocs]="tsDocsUrl"
>
  @if (componentInfo.tags && componentInfo.tags?.length > 0) {
    <div page-labels>
      @for (tag of componentInfo.tags; track tag) {
        <span class="badge rounded-pill tag-technical mx-1">{{
          tag.toLocaleLowerCase()
        }}</span>
      }
    </div>
  }

  <div page-introduction>
    <p>
      {{ componentInfo.introduction }}
    </p>
    <p>Dit component maakt gebruik van de PDOK Locatie API. Voor dit voorbeeld wordt er gefilterd op adres, gemeente, woonplaats en provincie.</p>
    <p>
      Instelmogelijkheden voor ggc-search-location, met
      <code>SearchLocationOptions</code>:
    </p>
    <ul>
      <li>automatisch inzoomen naar gevonden locatie/gebied</li>
      <li>automatisch markeren van gevonden locatie/gebied</li>
    </ul>
  </div>

  <div page-functionality>
    <div class="row">
      <!-- DOCS:START functionality -->
      <div class="col-xl-9 col-lg-8 col-md-7 col-sm-6">
        <div>
          <ggc-search-location
            (events)="logSearchComponentEvents($event)"
            [searchLocationOptions]="searchLocationOptions()"
          ></ggc-search-location>
        </div>
        <div class="map-container">
          <ggc-map></ggc-map>
        </div>
        <ggc-layer-brt-achtergrondkaart></ggc-layer-brt-achtergrondkaart>
        <!-- DOCS:END functionality -->
      </div>
      <div class="col-xl-2 col-md-2 col-sm-12">
        <div class="row options-toggle">
          <h6 id="extraOptionsLabel">Extra opties</h6>
          <label class="switch">
            <input
              type="checkbox"
              checked
              aria-labelledby="extraOptionsLabel"
              (change)="goToPage('/search-location')"
            />
            <span class="slider round"></span>
          </label>
        </div>
        <div class="row search-results-options">
          <label>
            <input type="checkbox" [(ngModel)]="zoomToResult" />
            Zoom naar het zoekresultaat
          </label>
          <label>
            <input type="checkbox" [(ngModel)]="markResult" />
            Markeer het zoekresultaat
          </label>
        </div>
      </div>
    </div>
  </div>

  <div page-tips>
    <p>
      Met <code>AdditionalSuggestion</code> kan in andere bronnen worden
      gezocht.
    </p>
  </div>
</app-example-format>
