<ggc-home-example-format
  [title]="componentInfo.title"
  [pathModule]="urlComponentModule"
  [urlTSDocs]="tsDocsUrl"
>
  @if (componentInfo.tags && componentInfo.tags?.length > 0) {
    <div page-labels>
      @for (tag of componentInfo.tags; track tag) {
        <span class="badge rounded-pill tag-technical mx-1">{{
          tag.toLocaleLowerCase()
        }}</span>
      }
    </div>
  }

  <div page-introduction>
    <p>
      {{ componentInfo.introduction }}
    </p>
    <p>
      Dit component maakt gebruik van de PDOK Locatie API. Voor dit voorbeeld
      wordt er gezocht in de collecties adres, gemeente, woonplaats en
      provincie.
    </p>
    <p>
      De collecties waarin gezocht wordt, kunnen worden meegegeven in
      <code>SearchLocationOptions</code>. In dit voorbeeld gebruiken we het
      event <code>collectionsLoaded$</code> om de beschikbare collecties met
      hun actuele versies op te halen. Zo kun je bijvoorbeeld in alle collecties
      zoeken behalve één specifieke collectie. Alle PDOK-collecties zijn te
      vinden op
      <a
        href="https://api.pdok.nl/kadaster/location-api/v1/collections"
        target="_blank"
        >PDOK</a
      >.
    </p>

    <p>
      Instelmogelijkheden voor ggc-search-location, met
      <code>SearchLocationOptions</code>:
    </p>
    <ul>
      <li>het aantal zoeksuggesties (1-50)</li>
      <li>de collectie bij suggesties tonen of verbergen</li>
      <li>de volgorde van zoeksuggesties instellen met <code>customCollections</code></li>
      <li>automatisch inzoomen naar gevonden locatie/gebied</li>
      <li>automatisch markeren van gevonden locatie/gebied</li>
      <li>het maximum aantal suggesties (1-50)</li>
      <li>de collectie bij suggesties tonen of verbergen</li>
      <li>de relevantie per collectie instellen met <code>customCollections</code></li>
    </ul>
    <p>Een hogere relevantie geeft een collectie een hogere prioriteit.</p>
  </div>

  <div page-functionality>
    <div class="row">
      <!-- DOCS:START functionality -->
      <div class="col-xl-9 col-lg-8 col-md-7 col-sm-6">
        <div>
          <ggc-search-location
            (events)="logSearchComponentEvents($event)"
            [searchLocationOptions]="searchLocationOptions()"
          ></ggc-search-location>
        </div>
        <div class="map-container">
          <ggc-map></ggc-map>
        </div>
        <ggc-layer-brt-achtergrondkaart></ggc-layer-brt-achtergrondkaart>
        <!-- DOCS:END functionality -->
      </div>
      <div class="col-xl-2 col-md-2 col-sm-12">
        <div class="options-toggle">
          <label class="switch">
            <input
              type="checkbox"
              checked
              (change)="goToPage('/search-location')"
            />
            <span class="slider round"></span>
            Extra opties
          </label>
        </div>
        <div class="search-results-options">
          <h6 class="option-section-heading">Configureren zoeksuggesties</h6>
          <label for="number-of-suggestions">Aantal zoeksuggesties (1-50)</label>
          <input
            id="number-of-suggestions"
            class="form-control"
            type="number"
            min="1"
            max="50"
            step="1"
            [(ngModel)]="numberOfSuggestions"
          />
          <label>
            <input type="checkbox" [(ngModel)]="showCollectionType" />
            Toon collectie bij suggesties
          </label>
          <fieldset>
            <legend>Volgorde van zoeksuggesties (relevantie van collecties)</legend>
            <label>
              <input
                type="radio"
                name="collection-ranking"
                value="province"
                [(ngModel)]="collectionRanking"
              />
              Provincie &gt; Gemeente &gt; Woonplaats
            </label>
            <label>
              <input
                type="radio"
                name="collection-ranking"
                value="place"
                [(ngModel)]="collectionRanking"
              />
              Woonplaats &gt; Gemeente &gt; Provincie
            </label>
          </fieldset>
          <h6 class="option-section-heading">Zoekresultaat tonen op de kaart</h6>
          <label>
            <input type="checkbox" [(ngModel)]="zoomToResult" />
            Zoom naar het zoekresultaat
          </label>
          <label>
            <input type="checkbox" [(ngModel)]="markResult" />
            Markeer het zoekresultaat
          </label>
        </div>
      </div>
    </div>
  </div>

  <div page-tips>
    <p>
      Met <code>AdditionalSuggestion</code> kan in andere bronnen worden
      gezocht.
    </p>
  </div>
</ggc-home-example-format>
