<ggc-home-example-format
  [pathModule]="urlComponentModule"
  [title]="componentInfo.title"
  [urlTSDocs]="tsDocsUrl"
>
  @if (componentInfo.tags && componentInfo.tags?.length > 0) {
    <div page-labels>
      @for (tag of componentInfo.tags; track tag) {
        <span class="badge rounded-pill tag-technical mx-1">{{
          tag.toLocaleLowerCase()
        }}</span>
      }
    </div>
  }
  <div page-introduction>
    <p>
      {{ componentInfo.introduction }}
    </p>
    <p>
      Dit is mogelijk voor WMTS- ,WMS-, GeoJSON-kaart(en) en OGC API vector
      Tiles.
      <br />
      Dit voorbeeld toont de grenzen van gemeenten. Na klikken in de kaart wordt
      de informatie opgehaald van de kaartlaag. De informatie van het gekozen
      object wordt getoond en het object wordt op de kaart gemarkeerd.
      <br />
      Let op dat op de kaartlagen de optie getFeatureInfoOnSingleclick aangezet
      moet worden om feature info op te kunnen halen.
    </p>
  </div>
  <div page-functionality>
    <div class="row">
      <!-- DOCS:START functionality -->
      <div class="col-xl-3 col-md-4 col-sm-5">
        <div class="feature-info-container">
          <b>Feature Info</b>
          <br />
          <ggc-feature-info [mapIndex]="mapIndex"></ggc-feature-info>
        </div>
      </div>
      <div class="col-xl-7 col-md-6 col-sm-5">
        <div class="map-container">
          <ggc-map [mapIndex]="mapIndex" [webServices]="mapConfig"></ggc-map>
        </div>
      </div>
      <!-- DOCS:END functionality -->
      <div class="col-xl-2 col-md-2 col-sm-2">
        <div class="row options-toggle">
          <h6 id="extraOptionsLabel">Extra opties</h6>
          <label class="switch">
            <input
              (change)="goToPage('/feature-info-adv')"
              aria-labelledby="extraOptionsLabel"
              type="checkbox"
            />
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    </div>
  </div>
</ggc-home-example-format>
