<app-example-format
  [title]="componentInfo.title"
  [pathModule]="urlComponentModule"
  [urlTSDocs]="tsDocsUrl"
>
  @if (componentInfo.tags?.length > 0) {
    <div page-labels>
      @for (tag of componentInfo.tags; track tag) {
        <span class="badge rounded-pill tag-technical mx-1">{{
          tag.toLocaleLowerCase()
        }}</span>
      }
    </div>
  }

  <div page-introduction>
    <p>
      {{ componentInfo.introduction }}
    </p>
    <p>
      In dit voorbeeld worden selectie door hover en klikken gecombineerd. Er
      wordt een WFS kaartlaag met gemeentegrenzen gebruikt.Door over een
      gemeente te bewegen met de muis (hover) wordt de naam van de geselecteerde
      gemeente getoond. Ook wordt de gemeente op de kaart blauw gemarkeerd. Met
      een klik op een gemeente wordt deze geselecteerd en rood gemarkeerd.
    </p>
    <p>
      Er zijn 2 actieve select-interacties, elk met een eigen selectIndex. De
      klikselectie heeft een custom styling, waardoor de selecties rood worden
      gemarkeerd (in plaats van default blauw).
    </p>
  </div>

  <div page-functionality>
    <div class="functionality-layout">
      <!-- DOCS:START functionality -->
      <div class="map-controls">
        <p class="mt-2">Gemeente onder cursor: {{ currentHoverGemeente() }}</p>
        <div class="feature-info-container">
          <ggc-feature-info
            [mapIndex]="mapIndex"
            [selectIndex]="selectIndexClick"
            [autoStartSelect]="false"
          >
          </ggc-feature-info>
        </div>
      </div>
      <div class="map-container">
        <ggc-map [webServices]="mapConfig" [mapIndex]="mapIndex"> </ggc-map>
      </div>
      <!-- DOCS:END functionality -->
    </div>
  </div>
</app-example-format>
