<app-example-format
  [pathModule]="urlComponentModule"
  [title]="componentInfo.title"
  [urlTSDocs]="tsDocsUrl"
>
  @if (componentInfo.tags?.length > 0) {
    <div page-labels>
      @for (tag of componentInfo.tags; track tag) {
        <span class="badge rounded-pill tag-technical mx-1">{{
          tag.toLocaleLowerCase()
        }}</span>
      }
    </div>
  }

  <div page-introduction>
    <p>
      {{ componentInfo.introduction }}
    </p>
    <p>
      Dit voorbeeld gebruikt een WFS kaartlaag. Bij hover wordt de gemeentenaam
      getoond. Met een klik kun je een gemeente selecteren. Er zijn 2 active
      select-interacties, elk met een eigen selectIndex. De feature-info
      reageert alleen op de selectie met de klik.
    </p>
  </div>

  <div page-functionality>
    <div class="row">
      <!-- DOCS:START functionality -->
      <div class="col-xl-3 col-md-4 col-sm-5">
        <p class="mt-2">Gemeente onder cursor: {{ currentHoverGemeente() }}</p>
        <div class="feature-info-container">
          <ggc-feature-info
            [autoStartSelect]="false"
            [mapIndex]="mapIndex"
            [selectIndex]="selectIndexClick"
          >
          </ggc-feature-info>
        </div>
      </div>
      <div class="col-xl-9 col-md-8 col-sm-7">
        <div class="map-container">
          <ggc-map [mapIndex]="mapIndex" [webServices]="mapConfig"> </ggc-map>
        </div>
      </div>
      <!-- DOCS:END functionality -->
    </div>
  </div>
</app-example-format>
