<app-example-format
  [codeHtmlPath]="'code/examples/example-draw/example-draw-style/example-draw-style.component.html'"
  [codeScssPath]="'code/examples/example-draw/example-draw-style/example-draw-style.component.scss'"
  [codeTypescriptPath]="'code/examples/example-draw/example-draw-style/example-draw-style.component.ts'"
  [kaartConfigFilePath]="'code/examples/example-draw/example-draw-style/kaartconfig.json'"
  [title]="componentInfo.title"
  [pathModule]="urlComponentModule"
  urlChangelog=""
  urlCodeHtml="example-draw/example-draw/example-draw-style/example-draw-style.component.html"
  urlCodeScss="example-draw/example-draw/example-draw-style/example-draw-style.scss"
  urlCodeTypescript="example-draw/example-draw/example-draw-style/example-draw-style.component.ts"
  urlGitHub=""
  pathKaartConfig="example-draw-style/kaartconfig.json"
  urlTSDocs=""
  pathTreeConfig=""
  urlVoorbeelden=""
>
  @if (componentInfo.tags && componentInfo.tags?.length > 0) {
    <div page-geometrys>
      @for (tag of componentInfo.tags; track tag) {
        <span class="badge rounded-pill tag-technical mx-1">{{
          tag.toLocaleLowerCase()
        }}</span>
      }
    </div>
  }

  <div page-introduction>
    <p>{{ componentInfo.introduction }}</p>
    <p>
      Met <code>setDrawStyle</code> kan de opmaak van een tekening aangepast
      worden met een eigen stijl.
    </p>
    <p>In dit voorbeeld zijn aangepast:</p>
    <ul>
      <li>Stijl van actieve tekening met <code>drawingDrawStyle</code>.</li>
      <li>
        Stijl van afgeronde tekening met
        <code>finishDrawStyle</code>.
      </li>
    </ul>
    <p>
      Het is ook mogelijk om de opmaak in te stellen voor een foute tekening
      (zie
      <a [routerLink]="['/draw-adv']">Tekenen met de muis</a>).
    </p>
  </div>

  <div page-functionality>
    <div class="row">
      <!-- DOCS:START functionality -->
      <div class="col-md-3 col-sm-6">
        <div>
          <b>Tekenen</b>
          <div class="d-flex flex-column align-items-stretch">
            <button [class.active]="drawing() === 'line'" (click)="drawLine()">
              Teken lijn
            </button>
            <button
              [class.active]="drawing() === 'polygon'"
              (click)="drawPolygon()"
            >
              Teken vlak
            </button>
            <hr />
            <button (click)="finishCurrentDraw()">Tekening afronden</button>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-10">
        <div class="map-container">
          <ggc-map [webServices]="mapConfig" [minZoomlevel]="6"></ggc-map>
        </div>
      </div>
      <!-- DOCS:END functionality -->
    </div>
  </div>
</app-example-format>
