<app-example-format
  [title]="componentInfo.title"
  [pathModule]="urlComponentModule"
  [urlTSDocs]="tsDocsUrl"
>
  @if (componentInfo.tags && componentInfo.tags?.length > 0) {
    <div page-geometrys>
      @for (tag of componentInfo.tags; track tag) {
        <span class="badge rounded-pill tag-technical mx-1">{{
          tag.toLocaleLowerCase()
        }}</span>
      }
    </div>
  }

  <div page-introduction>
    <p>{{ componentInfo.introduction }}</p>
    <p>
      Met <code>setDrawStyle</code> kan de opmaak van een tekening aangepast
      worden met een eigen stijl.
    </p>
    <p>In dit voorbeeld zijn aangepast:</p>
    <ul>
      <li>Stijl van actieve tekening met <code>drawingDrawStyle</code>.</li>
      <li>
        Stijl van afgeronde tekening met
        <code>finishDrawStyle</code>.
      </li>
    </ul>
    <p>
      Het is ook mogelijk om de opmaak in te stellen voor een foute tekening
      (zie
      <a [routerLink]="['/draw-adv']">Tekenen met de muis</a>).
    </p>
  </div>

  <div page-functionality>
    <div class="row">
      <!-- DOCS:START functionality -->
      <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
        <div>
          <b>Tekenen</b>
          <p>Rond de tekening af door dubbel te klikken.</p>
          <div class="d-flex flex-column align-items-stretch">
            <button [class.active]="drawing() === 'line'" (click)="drawLine()">
              Teken lijn
            </button>
            <button
              [class.active]="drawing() === 'polygon'"
              (click)="drawPolygon()"
            >
              Teken vlak
            </button>
          </div>
        </div>
      </div>
      <div class="col-xl-9 col-lg-8 col-md-7 col-sm-6">
        <div class="map-container">
          <ggc-map [webServices]="mapConfig" [minZoomlevel]="6"></ggc-map>
        </div>
      </div>
      <!-- DOCS:END functionality -->
    </div>
  </div>
</app-example-format>
