.legend-container {
  border: gray 1px solid;
  padding: 5px;
  text-align: left;
}
.btn {
  margin: 3px;
}

:host ::ng-deep .legend-container .ggc-dl-dataset-name {
  text-align: left;
  justify-content: flex-start;
  width: 100%;
}
