<app-example-format
  [title]="componentInfo.title"
  [pathModule]="urlComponentModule"
  [urlTSDocs]="tsDocsUrl"
>
  @if (componentInfo.tags && componentInfo.tags?.length > 0) {
    <div page-labels>
      @for (tag of componentInfo.tags; track tag) {
        <span class="badge rounded-pill tag-technical mx-1">{{
          tag.toLocaleLowerCase()
        }}</span>
      }
    </div>
  }

  <div page-introduction>
    <p>
      {{ componentInfo.introduction }}
    </p>
    <p>
      In dit voorbeeld zijn de provinciegrenzen als laag toegevoegd aan de
      kaart. Deze kaartlaag wordt in GeoJSON-formaat door ggc-map opgevraagd bij
      een Web Feature Service (WFS).
    </p>
  </div>

  <div page-functionality>
    <div class="row">
      <div class="col-md-2 col-sm-2">
        <div class="row options-toggle">
          <h6 id="extraOptionsLabel">Custom styling</h6>
          <label class="switch">
            <input
              type="checkbox"
              aria-labelledby="extraOptionsLabel"
              (change)="switchStyle()"
            />
            <span class="slider round"></span>
          </label>
        </div>
      </div>
      <div class="col-md-8 col-sm-10">
        <!-- DOCS:START functionality -->
        <div class="map-container">
          <ggc-map [webServices]="mapConfig"></ggc-map>
        </div>
        <!-- DOCS:END functionality -->
      </div>
    </div>
  </div>
</app-example-format>
