<div class="utrecht-page-body__content quickstart-page">
  <h1 class="nl-heading nl-heading--level-3 ggc-heading">
    Quick start met de Generieke Geo Componenten
  </h1>
  <p class="nl-paragraph ggc-paragraph">
    Deze quick start helpt je op weg om te beginnen met de Generieke Geo
    Componenten in een Angular applicatie.
  </p>
  <h2 class="nl-heading nl-heading--level-4 ggc-heading">Inhoudsopgave</h2>
  <ol class="ggc-paragraph-list">
    <li
      class="nl-paragraph ggc-paragraph"
      [ngClass]="currentStep === 1 ? 'selected' : ''"
    >
      <button (click)="navigeerNaarHoofdstuk(1)">
        Inleiding en benodigdheden
      </button>
    </li>
    <li
      class="nl-paragraph ggc-paragraph"
      [ngClass]="currentStep === 2 ? 'selected' : ''"
    >
      <button (click)="navigeerNaarHoofdstuk(2)">
        De eerste kaart, met <code>ggc-map</code>
      </button>
    </li>
    <li
      class="nl-paragraph ggc-paragraph"
      [ngClass]="currentStep === 3 ? 'selected' : ''"
    >
      <button (click)="navigeerNaarHoofdstuk(3)">
        Tonen van de legenda, met <code>ggc-legend</code>
      </button>
    </li>
    <li
      class="nl-paragraph ggc-paragraph"
      [ngClass]="currentStep === 4 ? 'selected' : ''"
    >
      <button (click)="navigeerNaarHoofdstuk(4)">
        Zoeken met de <code>ggc-search-location</code>
      </button>
    </li>
    <li
      class="nl-paragraph ggc-paragraph"
      [ngClass]="currentStep === 5 ? 'selected' : ''"
    >
      <button (click)="navigeerNaarHoofdstuk(5)">
        Kaartlagen aan- en uitvinken met de <code>ggc-dataset-tree</code>
      </button>
    </li>
    <li
      class="nl-paragraph ggc-paragraph"
      [ngClass]="currentStep === 6 ? 'selected' : ''"
    >
      <button (click)="navigeerNaarHoofdstuk(6)">
        Wisselen tussen kaartlagen met de <code>ggc-dataset-switcher</code>
      </button>
    </li>
    <li
      class="nl-paragraph ggc-paragraph"
      [ngClass]="currentStep === 7 ? 'selected' : ''"
    >
      <button (click)="navigeerNaarHoofdstuk(7)">
        Het maken van een toolbar met de <code>ggc-toolbar</code>
      </button>
    </li>
  </ol>
  <hr />
  @if (currentStep === 1) {
    <p class="nl-paragraph ggc-paragraph">
      We beginnen met het toevoegen van een kaartcomponent. Het koppelen van onze componenten gaat eenvoudig, de componenten zijn <i>Plug & Play</i>. Door het legenda component toe te voegen, en een link naar de legenda (per kaartlaag), wordt de koppeling automatisch gelegd. Als je inzoomt of een andere kaartlaag selecteert, verandert de legenda vanzelf mee zonder dat je daar zelf iets voor hoeft te programmeren.
    </p>
    <p class="nl-paragraph ggc-paragraph">
      Daarna kijken we naar het zoeken en het tonen van een locatie. Wisselen tussen kaartlagen of het aan- en uitzetten van kaartlagen kan op twee manieren: met behulp van de dataset-tree of de dataset-switcher. Tot slot maken we nog een voorbeeld met een toolbar, waarbij je kunt tekenen of meten op de kaart.
    </p>
    <img
      src="assets/quickstart.png"
      alt="Overzicht kaartviewer met de generieke geo componenten"
    />
    <h2 class="nl-heading nl-heading--level-4 ggc-heading">Benodigdheden</h2>
    <p class="nl-paragraph ggc-paragraph">
      Om te beginnen zijn is het belangrijk dat je ervaring hebt met:
    </p>
    <ul class="ggc-paragraph-list">
      <li class="nl-paragraph ggc-paragraph">HTML/CSS</li>
      <li class="nl-paragraph ggc-paragraph">JavaScript/TypeScript</li>
      <li class="nl-paragraph ggc-paragraph">
        Angular (of een soortgelijk framework)
      </li>
    </ul>
    <p class="nl-paragraph ggc-paragraph">
      Indien je nog geen Angular applicatie hebt kun je die eenvoudig maken met
      de
      <a
        href="https://v{{ angularVersion }}.angular.dev/installation"
        target="_blank"
        >installatiehandleiding
        <span class="fa fa-external-link icon-suffix" aria-hidden="true"></span
      ></a>
      van Angular zelf. De nieuwste versie van onze componenten werken met
      Angular {{ angularVersion }}. Voor het maken van een eenvoudige
      kaartapplicatie is geen geo-kennis benodigd.
    </p>
  }
  @if (currentStep === 2) {
    <h2 class="nl-heading nl-heading--level-4 ggc-heading">
      De eerste kaart, met <code>ggc-map</code>
    </h2>
    <p class="nl-paragraph ggc-paragraph">
      Als eerste heb je de juiste dependencies nodig, installeer deze met:
      <code>npm install @kadaster/ggc-map</code>
    </p>
    <p class="nl-paragraph ggc-paragraph">
      Plaats dan de volgende HTML, bijvoorbeeld in de <code>app.html</code>:
    </p>
    <pre><code
      [highlight]="mapHtml"
      language="html"
    ></code></pre>
    <p class="nl-paragraph ggc-paragraph">
      Je hebt daarna de juiste TypeScript imports nodig, en je moet aangeven
      welke kaartlagen je wilt tonen. Gebruik daarvoor het volgende:
    </p>
    <pre><code
      [highlight]="mapTypescript"
      language="ts"
    ></code></pre>
    <p class="nl-paragraph ggc-paragraph">
      Je zou nu al een werkende kaart moeten zien die lijkt op de kaart
      hieronder! De styling van de zoom-knoppen is iets anders.
    </p>
    <div style="height: 300px">
      <ggc-map [webServices]="webServices"></ggc-map>
    </div>
    <p class="nl-paragraph ggc-paragraph">
      Bekijk de
      <button (click)="goToMapLayerVoorbeelden()">
        voorbeelden van kaartlagen
      </button>
      als je meer wilt weten over de verschillende mogelijkheden.
    </p>
  }

  @if (currentStep === 3) {
    <h2 class="nl-heading nl-heading--level-4 ggc-heading">
      Het tonen van de legenda, met <code>ggc-legend</code>
    </h2>
    <p class="nl-paragraph ggc-paragraph">
      Voor de legenda is de volgende dependency nodig:
      <code>npm install @kadaster/ggc-legend</code>
    </p>
    <p class="nl-paragraph ggc-paragraph">
      Voeg dan de volgende HTML toe. In het voorbeeld hieronder wordt de legenda
      naast de kaart geplaatst.
    </p>
    <pre><code
      [highlight]="legendHtml"
      language="html"
    ></code></pre>
    <p class="nl-paragraph ggc-paragraph">
      Ook hier is de juiste import nodig. Om de legenda op te halen moet de
      <code>legendUrl</code> van de <code>activeLegend</code> gevuld zijn in de
      kaart configuratie.
    </p>
    <pre><code
      [highlight]="legendTypescript"
      language="ts"
    ></code></pre>
    <p class="nl-paragraph ggc-paragraph">
      Nu zou de legenda zichtbaar moeten zijn:
    </p>

    <div style="display: flex; height: 300px">
      <div
        style="
          width: 250px;
          overflow-y: auto;
          background: #f3f3f3;
          padding: 10px;
        "
      >
        <ggc-legend></ggc-legend>
      </div>

      <div style="flex: 1">
        <ggc-map [webServices]="webServices"></ggc-map>
      </div>
    </div>

    <p class="nl-paragraph ggc-paragraph">
      Bekijk de
      <button (click)="goToLegendVoorbeelden()">
        voorbeelden van legenda's
      </button>
      als je meer wilt weten over de verschillende mogelijkheden.
    </p>
  }

  @if (currentStep === 4) {
    <h2 class="nl-heading nl-heading--level-4 ggc-heading">
      Zoeken met de <code>ggc-search-location</code>
    </h2>
    <p class="nl-paragraph ggc-paragraph">
      Voor het zoekcomponent is de dependency nodig:
      <code>npm install @kadaster/ggc-search-location</code>
    </p>
    <p class="nl-paragraph ggc-paragraph">
      Een belangrijk onderdeel voor de styling is dat er gebruik gemaakt wordt
      van
      <a href="https://getbootstrap.com/" target="_blank"
        >Bootstrap<span
          class="fa fa-external-link icon-suffix"
          aria-hidden="true"
        ></span
      ></a>
      en
      <a href="https://fontawesome.com/" target="_blank"
        >Font Awesome<span
          class="fa fa-external-link icon-suffix"
          aria-hidden="true"
        ></span></a
      >. Deze zijn dus nodig voor het correct laten werken van dit onderdeel. Je
      kunt ze toevoegen door deze HTML toe te voegen aan bijvoorbeeld de
      <code>index.html</code>:
    </p>
    <pre><code
      [highlight]="bootstrapFontawesomeHtml"
      language="html"
    ></code></pre>
    <p class="nl-paragraph ggc-paragraph">
      Voeg dan de volgende HTML toe. In het voorbeeld hieronder wordt de
      zoekbalk boven de kaart geplaatst.
    </p>
    <pre><code
      [highlight]="searchLocationHtml"
      language="html"
    ></code></pre>
    <p class="nl-paragraph ggc-paragraph">
      Ook hier is de juiste import nodig. Met de
      <code>searchLocationOptions</code> stellen we in dat je na het selecteren
      van een resultaat inzoomt op het resultaat en dat het gemarkeerd wordt.
    </p>
    <pre><code
      [highlight]="searchLocationTypescript"
      language="ts"
    ></code></pre>
    <p class="nl-paragraph ggc-paragraph">
      Nu staat de zoekbalk boven de kaart:
    </p>

    <ggc-search-location
      [searchLocationOptions]="searchLocationOptions"
    ></ggc-search-location>
    <div style="height: 300px">
      <ggc-map [webServices]="webServices"></ggc-map>
    </div>

    <p class="nl-paragraph ggc-paragraph">
      Bekijk de
      <button (click)="goToZoekenVoorbeelden()">voorbeelden van zoeken</button>
      als je meer wilt weten over de verschillende mogelijkheden.
    </p>
  }

  @if (currentStep === 5) {
    <h2 class="nl-heading nl-heading--level-4 ggc-heading">
      Kaartlagen aan- en uitvinken met de <code>ggc-dataset-tree</code>
    </h2>
    <p class="nl-paragraph ggc-paragraph">
      Voor het dataset tree component is de dependency nodig:
      <code>npm install @kadaster/ggc-dataset-tree</code>
    </p>
    <p class="nl-paragraph ggc-paragraph">
      Een belangrijk onderdeel voor de styling is dat er gebruik gemaakt wordt
      van
      <a href="https://getbootstrap.com/" target="_blank"
        >Bootstrap<span
          class="fa fa-external-link icon-suffix"
          aria-hidden="true"
        ></span
      ></a>
      en
      <a href="https://fontawesome.com/" target="_blank"
        >Font Awesome<span
          class="fa fa-external-link icon-suffix"
          aria-hidden="true"
        ></span></a
      >. Deze zijn dus nodig voor het correct laten werken van dit onderdeel. Je
      kunt ze toevoegen door deze HTML toe te voegen aan bijvoorbeeld de
      <code>index.html</code>:
    </p>
    <pre><code
      [highlight]="bootstrapFontawesomeHtml"
      language="html"
    ></code></pre>
    <p class="nl-paragraph ggc-paragraph">
      Voeg dan de volgende HTML toe. In het voorbeeld hieronder wordt de dataset
      tree naast de kaart geplaatst.
    </p>
    <pre><code
      [highlight]="datasetTreeHtml"
      language="html"
    ></code></pre>
    <p class="nl-paragraph ggc-paragraph">
      Ook hier is de juiste import nodig. Met de <code>themes</code> geven we de
      configuratie mee voor de dataset tree. De kaartconfiguratie is nu ook
      aangepast met een aantal lagen die aan- en uitgezet kunnen worden.
    </p>
    <pre><code
      [highlight]="datasetTreeTypescript"
      language="ts"
    ></code></pre>
    <p class="nl-paragraph ggc-paragraph">
      Nu staat de dataset tree naast de kaart:
    </p>

    <div style="display: flex; height: 300px">
      <div
        style="
          width: 250px;
          overflow-y: auto;
          background: #f3f3f3;
          padding: 10px;
        "
      >
        <ggc-dataset-tree
          [themes]="datasetTreeConfig"
          [expandTreeOnInit]="true"
        ></ggc-dataset-tree>
      </div>

      <div style="flex: 1">
        <ggc-map [webServices]="webServicesDatasetTree"></ggc-map>
      </div>
    </div>

    <p class="nl-paragraph ggc-paragraph">
      Bekijk de
      <button (click)="goToDatasetVoorbeelden()">
        voorbeelden van de dataset tree
      </button>
      als je meer wilt weten over de verschillende mogelijkheden.
    </p>
  }

  @if (currentStep === 6) {
    <h2 class="nl-heading nl-heading--level-4 ggc-heading">
      Wisselen tussen kaartlagen met de <code>ggc-dataset-switcher</code>
    </h2>
    <p class="nl-paragraph ggc-paragraph">
      Voor het dataset switcher component is de dependency nodig:
      <code>npm install @kadaster/ggc-dataset-tree</code>
    </p>
    <p class="nl-paragraph ggc-paragraph">
      Een belangrijk onderdeel voor de styling is dat er gebruik gemaakt wordt
      van
      <a href="https://getbootstrap.com/" target="_blank"
        >Bootstrap<span
          class="fa fa-external-link icon-suffix"
          aria-hidden="true"
        ></span
      ></a>
      en
      <a href="https://fontawesome.com/" target="_blank"
        >Font Awesome<span
          class="fa fa-external-link icon-suffix"
          aria-hidden="true"
        ></span></a
      >. Deze zijn dus nodig voor het correct laten werken van dit onderdeel. Je
      kunt ze toevoegen door deze HTML toe te voegen aan bijvoorbeeld de
      <code>index.html</code>:
    </p>
    <pre><code
      [highlight]="bootstrapFontawesomeHtml"
      language="html"
    ></code></pre>
    <p class="nl-paragraph ggc-paragraph">
      Voeg dan de volgende HTML toe. In het voorbeeld hieronder wordt de dataset
      switcher naast de kaart geplaatst.
    </p>
    <pre><code
      [highlight]="datasetSwitcherHtml"
      language="html"
    ></code></pre>
    <p class="nl-paragraph ggc-paragraph">Voeg dan ook de volgende CSS toe:</p>
    <pre><code
      [highlight]="datasetSwitcherScss"
      language="scss"
    ></code></pre>
    <p class="nl-paragraph ggc-paragraph">
      Ook hier is de juiste import nodig. Met de <code>themes</code> geven we de
      configuratie mee voor de dataset switcher. De kaartconfiguratie is nu ook
      aangepast zodat je kunt wisselen tussen twee kaartlagen.
    </p>
    <pre><code
      [highlight]="datasetSwitcherTypescript"
      language="ts"
    ></code></pre>
    <p class="nl-paragraph ggc-paragraph">
      Nu staat de dataset switcher naast de kaart:
    </p>

    <div style="display: flex; height: 300px">
      <div
        style="
          width: 250px;
          overflow-y: auto;
          background: #f3f3f3;
          padding: 10px;
        "
      >
        <ggc-dataset-switcher
          [themes]="datasetSwitcherConfig"
          [datasetSwitcherButtons]="datasetSwitcherButtons"
        ></ggc-dataset-switcher>
      </div>

      <div style="flex: 1">
        <ggc-map [webServices]="webServicesDatasetSwitcher"></ggc-map>
      </div>
    </div>

    <p class="nl-paragraph ggc-paragraph">
      Bekijk de
      <button (click)="goToDatasetVoorbeelden()">
        voorbeelden van de dataset switcher
      </button>
      als je meer wilt weten over de verschillende mogelijkheden.
    </p>
  }

  @if (currentStep === 7) {
    <h2 class="nl-heading nl-heading--level-4 ggc-heading">
      Het maken van een toolbar met de <code>ggc-toolbar</code>
    </h2>
    <p class="nl-paragraph ggc-paragraph">
      Voor de toolbar is de volgende dependency nodig:
      <code>npm install @kadaster/ggc-toolbar</code>
    </p>
    <p class="nl-paragraph ggc-paragraph">
      Voeg dan de volgende HTML toe. In het voorbeeld hieronder wordt de toolbar
      boven de kaart geplaatst.
    </p>
    <pre><code
      [highlight]="toolbarHtml"
      language="html"
    ></code></pre>
    <p class="nl-paragraph ggc-paragraph">
      Ook hier is de juiste import nodig. Om de legenda op te halen moet de
      <code>legendUrl</code> van de <code>activeLegend</code> gevuld zijn in de
      kaart configuratie.
    </p>
    <pre><code
      [highlight]="toolbarTypescript"
      language="ts"
    ></code></pre>
    <p class="nl-paragraph ggc-paragraph">
      Nu zou de toolbar zichtbaar moeten zijn:
    </p>

    <ggc-toolbar class="toolbar-position">
      <ggc-toolbar-item
        icon="fas fa-ruler"
        (activeChanged)="changeMeasureState($event)"
        [title]="'Meten'"
      >
        @if (measureActive) {
          <ggc-toolbar-item-measure
            stopIcon="fas fa-mouse-pointer"
            measureLineIcon="fas fa-ruler-horizontal"
            measurePolygonIcon="fas fa-ruler-combined"
            moveIcon="far fa-hand-paper"
            editIcon="fas fa-pencil-alt"
            deleteIcon="fas fa-eraser"
          ></ggc-toolbar-item-measure>
        }
      </ggc-toolbar-item>
      <ggc-toolbar-item
        icon="fas fa-pencil-alt"
        (activeChanged)="changeDrawState($event)"
        [title]="'Tekenen'"
      >
        @if (drawActive) {
          <ggc-toolbar-item-draw
            stopIcon="fas fa-mouse-pointer"
            drawIcon="fas fa-circle"
            drawLineIcon="fas fa-project-diagram"
            drawCircleIcon="far fa-dot-circle"
            drawRectangleIcon="far fa-square"
            drawPolygonIcon="fas fa-draw-polygon"
            deleteIcon="fas fa-trash-alt"
            moveIcon="far fa-hand-paper"
            editIcon="fas fa-pencil-alt"
          ></ggc-toolbar-item-draw>
        }
      </ggc-toolbar-item>
    </ggc-toolbar>
    <div style="height: 300px">
      <ggc-map [webServices]="webServices"></ggc-map>
    </div>

    <p class="nl-paragraph ggc-paragraph">
      Bekijk de
      <button (click)="goToToolbarVoorbeelden()">
        voorbeelden van een toolbar
      </button>
      als je meer wilt weten over de verschillende mogelijkheden.
    </p>
  }

  @if (currentStep < 7) {
    <hr />
    <p class="nl-paragraph ggc-paragraph">
      <button (click)="volgendeHoofdstuk()">
        Ga naar het volgende hoofdstuk
      </button>
    </p>
  }
</div>
