<ggc-home-example-format
  [title]="componentInfo.title"
  [pathModule]="urlComponentModule"
  [urlTSDocs]="tsDocsUrl"
  pathKaartConfig="example-draw/kaartconfig.json"
>
  @if (componentInfo.tags && componentInfo.tags?.length > 0) {
    <div page-labels>
      @for (tag of componentInfo.tags; track tag) {
        <span class="badge rounded-pill tag-technical mx-1">{{
          tag.toLocaleLowerCase()
        }}</span>
      }
    </div>
  }

  <div page-introduction>
    <p>{{ componentInfo.introduction }}</p>
    <p>
      Klik met de muis op de kaart om te tekenen. Een lijn en vlak kunnen
      afgerond worden door dubbel te klikken.
    </p>
  </div>

  <div page-functionality>
    <div class="row">
      <!-- DOCS:START functionality -->
      <div class="col-xl-2 col-md-3 col-sm-12">
        <fieldset class="ggc-fieldset">
          <legend>Kies een figuur om te tekenen:</legend>
          <div class="d-flex flex-column align-items-stretch">
            <button
              [class.active]="activeDrawType() === mapComponentDrawTypes.POINT"
              (click)="startDrawPoint()"
            >
              Punt
            </button>
            <button
              [class.active]="
                activeDrawType() === mapComponentDrawTypes.LINESTRING
              "
              (click)="startDrawLine()"
            >
              Lijn
            </button>
            <button
              [class.active]="
                activeDrawType() === mapComponentDrawTypes.RECTANGLE
              "
              (click)="startDrawRectangle()"
            >
              Rechthoek
            </button>
            <button
              [class.active]="activeDrawType() === mapComponentDrawTypes.CIRCLE"
              (click)="startDrawCircle()"
            >
              Cirkel
            </button>
            <button
              [class.active]="
                activeDrawType() === mapComponentDrawTypes.POLYGON
              "
              (click)="startDrawPolygon()"
            >
              Vlak
            </button>
          </div>
        </fieldset>
      </div>
      <div class="col-xl-8 col-md-7 col-sm-12">
        <div class="map-container">
          <ggc-map [webServices]="mapConfig"></ggc-map>
        </div>
      </div>
      <!-- DOCS:END functionality -->

      <div class="col-xl-2 col-md-2 col-sm-12">
        <div class="row options-toggle">
          <h6 id="extraOptionsLabel">Extra opties</h6>
          <label class="switch">
            <input
              (change)="goToPage('/draw-adv')"
              aria-labelledby="extraOptionsLabel"
              type="checkbox"
            />
            <span class="slider round"></span>
          </label>
          <br />
        </div>
      </div>
    </div>
  </div>
</ggc-home-example-format>
