body {
  margin: 1rem;
}

h1 {
  margin-bottom: 0.1rem;
  font-size: 1.5rem;
  color: darkblue;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.3rem;
}

p {
  margin-top: 1rem;
}

.container-map {
  position: relative;
}

.container-toolbar {
  position: absolute;
  top: 5px;
  left: 17px;
}
