<app-example-format
  [title]="componentInfo.title"
  [pathModule]="urlComponentModule"
  [urlTSDocs]="tsDocsUrl"
  pathKaartConfig="example-draw/kaartconfig.json"
>
  @if (componentInfo.tags && componentInfo.tags?.length > 0) {
    <div page-labels>
      @for (tag of componentInfo.tags; track tag) {
        <span class="badge rounded-pill tag-technical mx-1">
          {{ tag.toLocaleLowerCase() }}</span
        >
      }
    </div>
  }

  <div page-introduction>
    <p>{{ componentInfo.introduction }}</p>
    <p>
      Bij het bewerken kan het middelpunt van de kaart gebruikt worden om
      nauwkeurig te bewerken. <br />
      Beweeg de kaart onder de markering in het midden. Kies een bestaand
      hoekpunt om te bewerken of verwijderen, of voeg nieuwe (hoek)punten toe
      aan de tekening.
    </p>
    <p>
      Met <code>startCenterModify</code> kunnen bestaande tekeningen worden
      bewerkt:
    </p>
    <ul>
      <li>
        (Hoek-)punt bewerken/toevoegen: nieuwe (hoek)punten toevoegen en
        bestaande hoekpunten verplaatsen of verwijderen.
      </li>
      <ul>
        <li>
          Punt toevoegen: verplaats de markering op een bestaande lijn om een
          nieuw (hoek)punt toe te voegen.
        </li>
        <li>
          Punt verplaatsen: verplaats de markering op een bestaand (hoek)punt om
          deze te bewerken.
        </li>
      </ul>
      <li>
        Stop (Hoek)punt bewerken: afronden van het toevoegen of verplaatsen van
        een (hoek)punt.
      </li>
      <li>
        Verwijder Hoekpunt: verplaats de markering op een bestaand hoekpunt om
        deze te verwijderen.
      </li>
    </ul>
  </div>

  <div page-functionality>
    <div class="row">
      <div class="col-md-2 col-sm-2">
        <div class="d-flex flex-column align-items-stretch">
          <button
            [class.active]="editActive()"
            (click)="startCenterModifyCurrentPoint()"
          >
            (Hoek)punt bewerken/toevoegen</button
          ><br />
          <button
            (click)="stopCenterModifyCurrentPoint()"
            [disabled]="!editActive()"
          >
            Stop (Hoek)punt bewerken</button
          ><br />
          <button (click)="removeCenterModifyCurrentPoint()">
            Verwijder Hoekpunt
          </button>
        </div>
      </div>
      <!-- DOCS:START functionality -->
      <div class="col-md-9 col-sm-10">
        <div class="map-container">
          <ggc-map
            [webServices]="mapConfig"
            (events)="onMapEvent($event)"
          ></ggc-map>
        </div>
      </div>
      <!-- DOCS:END functionality -->
    </div>
  </div>
</app-example-format>
