<ggc-home-example-format
  [title]="componentInfo.title"
  [pathModule]="urlComponentModule"
  [urlTSDocs]="tsDocsUrl"
  [pathExtraConfig]="'example-layer/example-layer-geojson/gelderland.json'"
  [extraConfigLabel]="`GeoJson Gelderland (json)`"
>
  @if (componentInfo.tags && componentInfo.tags?.length > 0) {
    <div page-labels>
      @for (tag of componentInfo.tags; track tag) {
        <span class="badge rounded-pill tag-technical mx-1">{{
          tag.toLocaleLowerCase()
        }}</span>
      }
    </div>
  }

  <div page-introduction>
    <p>
      {{ componentInfo.introduction }}
    </p>
    <p>
      In dit voorbeeld is de provincie Gelderland als laag toegevoegd aan de
      kaart. Deze kaartlaag wordt als JSON-format aangeboden aan ggc-map.
    </p>
  </div>

  <div page-functionality>
    <!-- DOCS:START functionality -->
    <div class="map-container">
      <ggc-map [webServices]="mapConfig"></ggc-map>
    </div>
    <!-- DOCS:END functionality -->
  </div>
</ggc-home-example-format>
