<h1>Kaartviewer configureren</h1>
<span>
  Pas de configuratie bestanden aan en pas de viewer aan zodat deze jouw kaarten
  toont. </span
><br />
<span>
  Kaartlagen toe tevoegen, verwijderen of aanpassen doe je door
  <i>webServiceConfig_opdr3.json</i> te bewerken.
</span>
<br />
<span>
  Voor dataset-tree wijzig je
  <i>dateSetConfig_opdr3.json</i>
</span>
<div class="row">
  <div class="container-kaartlagen col-xl-2 col-md-3 col-sm-12">
    <h3>Kaartlagen</h3>
    <div>
      <ggc-dataset-tree
        [themes]="datasetTreeThemes"
        [expandTreeOnInit]="true"
      ></ggc-dataset-tree>
      <p>
        <i
          >Let op: BGT standaardvisualisatie en BAG (vector tiles) zijn alleen
          zichtbaar als de kaart ver genoeg is ingezoomd.</i
        >
      </p>
    </div>
    <h3>Legenda</h3>
    <div>
      <ggc-legend></ggc-legend>
    </div>
  </div>
  <div class="col-xl-6 col-md-5 col-sm-12">
    <div style="height: 80vh">
      <ggc-map [webServices]="webService"></ggc-map>
    </div>
  </div>
  <div class="container-feature-info col-xl-4 col-md-4 col-sm-12">
    <h3>Objectinformatie</h3>
    <ggc-feature-info></ggc-feature-info>
  </div>
</div>
