<main id="main-content" tabindex="-1">
  <div class="utrecht-page-body__content introduction-page">
    <h1 class="nl-heading nl-heading--level-3 ggc-heading">
      Kaartviewers voor iedereen
    </h1>
    <h2 class="nl-heading nl-heading--level-4 ggc-heading">
      Een kaart zegt meer dan duizend woorden
    </h2>
    <p class="nl-paragraph ggc-paragraph">
      Met een kaart kun je makkelijk informatie overbrengen. Kaarten
      ondersteunen dienstverlening en dragen bij aan besluitvorming.
    </p>

    <h2 class="nl-heading nl-heading--level-4 ggc-heading">
      De kracht van eenvoud
    </h2>
    <p class="nl-paragraph ggc-paragraph">
      Een interactieve kaart op een website vereist kennis van geografische
      tools, standaarden en services. Krachtige tools bieden veel mogelijkheden,
      maar zijn lastig te gebruiken.
    </p>
    <p class="nl-paragraph ggc-paragraph">
      De Generieke Geo Componenten van het Kadaster maken dit werk eenvoudig.
      Deze Angular front-end componenten kunnen in de eigen applicatie
      geïnstalleerd worden. Websites kunnen hierdoor snel voorzien worden van
      kaartfuncties:
    </p>
    <ul class="ggc-paragraph-list">
      <li class="nl-paragraph ggc-paragraph">2D en 3D kaarten presenteren</li>
      <li class="nl-paragraph ggc-paragraph">Kaartweergave aanpassen</li>
      <li class="nl-paragraph ggc-paragraph">Locatie zoeken</li>
      <li class="nl-paragraph ggc-paragraph">Legenda tonen</li>
      <li class="nl-paragraph ggc-paragraph">Objectinformatie bekijken</li>
      <li class="nl-paragraph ggc-paragraph">Kaarten bewerken</li>
    </ul>

    <h2 class="nl-heading nl-heading--level-4 ggc-heading">
      Samen efficiënt ontwikkelen
    </h2>
    <p class="nl-paragraph ggc-paragraph">
      Het Kadaster zet deze componenten al 10 jaar succesvol in. Voor websites,
      mobiele apps en desktop applicaties. We hechten veel waarde aan digitale
      toegankelijkheid (WCAG) en gebruik van open standaarden.
    </p>
    <p class="nl-paragraph ggc-paragraph">
      Door deze bouwstenen open source te delen, kunnen andere organisaties
      hiervan profiteren, en zich richten op inhoud en maatschappelijke opgaven.
      Dit draagt bij aan soevereiniteit, transparantie en verantwoord gebruik
      van overheidsgelden.
    </p>

    <h2 class="nl-heading nl-heading--level-4 ggc-heading">Voordelen</h2>
    <ul class="ggc-paragraph-list">
      <li class="nl-paragraph ggc-paragraph">Bewezen technologie</li>
      <li class="nl-paragraph ggc-paragraph">Snel resultaat</li>
      <li class="nl-paragraph ggc-paragraph">Gebruikersvriendelijk</li>
      <li class="nl-paragraph ggc-paragraph">Uitgebreide functionaliteit</li>
      <li class="nl-paragraph ggc-paragraph">Styling aanpasbaar</li>
      <li class="nl-paragraph ggc-paragraph">Beperkte onderhoudsinspanning</li>
      <li class="nl-paragraph ggc-paragraph">
        Uitgebreide documentatie en voorbeelden
      </li>
    </ul>

    <h2 class="nl-heading nl-heading--level-4 ggc-heading">
      Benieuwd hoe jouw organisatie deze bouwstenen kan inzetten?
    </h2>
    <a
      href="/example-index"
      class="utrecht-link utrecht-link--html-a utrecht-link-list__link"
    >
      <span class="utrecht-icon" role="presentation" aria-hidden="true">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="tabler-icon tabler-icon-chevron-right"
        >
          <path d="M9 6l6 6l-6 6"></path>
        </svg>
      </span>
      <span class="utrecht-link-list__link-text"> Bekijk de voorbeelden </span>
    </a>
  </div>
</main>
