<app-example-format
  [title]="componentInfo.title"
  [pathModule]="urlComponentModule"
  [urlTSDocs]="tsDocsUrl"
>
  @if (componentInfo.tags && componentInfo.tags?.length > 0) {
    <div page-labels>
      @for (tag of componentInfo.tags; track tag) {
        <span class="badge rounded-pill tag-technical mx-1">{{
          tag.toLocaleLowerCase()
        }}</span>
      }
    </div>
  }

  <div page-introduction>
    <p>
      {{ componentInfo.introduction }}
    </p>
    <p>
      Het legenda component wordt automatisch bijgewerkt als er kaartlagen in de
      kaartcomponent (ggc-map) zichtbaar worden of verdwijnen. De legenda laat
      standaard alleen legenda's zien van kaartlagen die zichtbaar zijn op het
      gekozen zoomniveau.
    </p>
    <p>Instelmogelijkheden voor legenda:</p>
    <ul>
      <li>Legenda's in-/uitklapbaar maken met <code>collapsable</code></li>
      <li>
        Volgorde van kaartlagen in de legenda met <code>legendIndex</code>
      </li>
      <li>
        Melding tonen (<code>emptyLegendMessage</code>) bij kaartlagen zonder
        legenda met <code>showEmptyLegendMessage</code>
      </li>
      <li>
        Kaartlagen altijd tonen, ook als ze niet zichtbaar zijn op de kaart, met
        <code>alwaysEnableLegends</code>
      </li>
      <li>Eigen styling voor iconen voor in-/uitklappen</li>
    </ul>
  </div>

  <div page-functionality>
    <div class="row">
      <!-- DOCS:START functionality -->
      <div class="col-md-3 col-sm-6">
        <div>
          <label>
            <input [(ngModel)]="collapsable" type="checkbox" />
            Maak de legenda in/uitklapbaar.
          </label>
        </div>
        <div>
          <label>
            <input [(ngModel)]="showLegendsName" type="checkbox" />
            Toon een titel boven een legenda
          </label>
        </div>
        <div>
          <label>
            <input (change)="toggleAlwaysEnableLegends()" type="checkbox" />
            Laat legenda's altijd zien
          </label>
        </div>
        <br />
        <div>
          Alle legenda items:
          <br />
          <button
            (click)="collapseAll()"
            [disabled]="!collapsable"
            class="btn btn-small btn-outline-primary"
          >
            Inklappen
          </button>
          <button
            (click)="expandAll()"
            [disabled]="!collapsable"
            class="btn btn-small btn-outline-primary"
          >
            Uitklappen
          </button>
        </div>
        <br />
        <div class="legend-container">
          <b>Legenda</b>
          <ggc-legend
            [collapsable]="collapsable"
            [defaultExpanded]="false"
            [emptyLegendMessage]="emptyLegendMessage"
            [iconCollapsed]="iconCollapsed"
            [iconExpanded]="iconExpanded"
            [mapIndex]="mapIndex"
            [showEmptyLegendMessage]="showEmptyLegendMessage"
            [showLegendsName]="showLegendsName"
            [alwaysEnableLegends]="alwaysEnableLegends()"
          ></ggc-legend>
        </div>
      </div>
      <div class="col-md-6 col-sm-10">
        <div class="map-container">
          <ggc-map [mapIndex]="mapIndex" [webServices]="mapConfig"></ggc-map>
        </div>
      </div>
      <!-- DOCS:END functionality -->

      <div class="col-md-1 col-sm-1">
        <div class="row options-toggle">
          <h6 id="extraOptionsLabel">Extra opties</h6>
          <label class="switch">
            <input
              (change)="goToPage('/legend-zoom')"
              aria-labelledby="extraOptionsLabel"
              checked
              type="checkbox"
            />
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    </div>
  </div>
</app-example-format>
