<app-example-format
  [title]="componentInfo.title"
  [pathModule]="urlComponentModule"
  [urlTSDocs]="tsDocsUrl"
>
  @if (componentInfo.tags && componentInfo.tags?.length > 0) {
    <div page-labels>
      @for (tag of componentInfo.tags; track tag) {
        <span class="badge rounded-pill tag-technical mx-1">{{
          tag.toLocaleLowerCase()
        }}</span>
      }
    </div>
  }

  <div page-introduction>
    <p>
      {{ componentInfo.introduction }}
    </p>
    <p>
      In dit voorbeeld zijn de buurten in de omgeving van Apeldoorn als laag
      toegevoegd aan de kaart. Deze kaartlaag wordt in GeoJSON-formaat door
      ggc-map opgevraagd bij een OGC API - Features.
    </p>
  </div>

  <div page-functionality>
    <!-- DOCS:START functionality -->
    <div class="map-controls">
      <label class="ms-2">
        <input
          type="radio"
          name="selectMode"
          value="singleselect"
          [(ngModel)]="selectMode"
          (ngModelChange)="onSelectModeChange($event)"
        />
        Single select
      </label>
      <label class="ms-2">
        <input
          type="radio"
          name="selectMode"
          value="multiselect"
          [(ngModel)]="selectMode"
          (ngModelChange)="onSelectModeChange($event)"
        />
        Multi select
      </label>
      <label>
        <input
          type="radio"
          name="selectMode"
          value="default"
          [(ngModel)]="selectMode"
          (ngModelChange)="onSelectModeChange($event)"
        />
        Openlayers default
      </label>
    </div>
    <div class="map-container">
      <ggc-map [webServices]="mapConfig" [mapIndex]="mapIndex"> </ggc-map>
    </div>
    <!-- DOCS:END functionality -->
  </div>
</app-example-format>
