<app-example-format
  [pathModule]="urlComponentModule"
  [title]="componentInfo.title"
  [urlTSDocs]="tsDocsUrl"
>
  @if (componentInfo.tags && componentInfo.tags?.length > 0) {
    <div page-labels>
      @for (tag of componentInfo.tags; track tag) {
        <span class="badge rounded-pill tag-technical mx-1">{{
          tag.toLocaleLowerCase()
        }}</span>
      }
    </div>
  }

  <div page-introduction>
    <p>
      {{ componentInfo.introduction }}
    </p>
    <p>
      GGC beidt ondersteuning voor selecties op alle kaartlagen, maar wij raden
      aan om WFS of OGC kaartlagen te gebruiken, gezien dit makkelijker werkt.
      Mocht je WMS of WMTS kaartlagen willen gebruiken, bekijk dan het voorbeeld
      over selecties op WMS/WMTS lagen, gezien dit minder mogelijkheden biedt.
    </p>
    <p>Voor WFS en OGC kaartlagen zijn verschillende selectie methodes:</p>
    <ul>
      <li>
        <strong>Single select</strong>: door te klikken kan je één feature
        selecteren.
      </li>
      <li>
        <strong>Multi select</strong>: je kan meerdere features selecteren en
        een feature uit de selectie halen door op een geselecteerde feature te
        klikken.
      </li>
      <li>
        <strong>OpenLayers default</strong>: met een normale klik wordt één
        feature geselecteerd en met een shift‑klik kan een multi‑selectie worden
        gedaan.
      </li>
      <li>
        <strong>Hover</strong>: een single select die met het instellen van de
        condition nu werkt met de muis-hover in plaats van klikken.
      </li>
    </ul>
  </div>

  <div page-functionality>
    <div class="row">
      <!-- DOCS:START functionality -->
      <div class="col-xl-3 col-md-4 col-sm-5">
        <label class="ms-2">
          <input
            (ngModelChange)="onSelectModeChange($event)"
            [(ngModel)]="selectMode"
            name="selectMode"
            type="radio"
            value="singleselect"
          />
          Single select
        </label>
        <label class="ms-2">
          <input
            (ngModelChange)="onSelectModeChange($event)"
            [(ngModel)]="selectMode"
            name="selectMode"
            type="radio"
            value="multiselect"
          />
          Multi select
        </label>
        <label class="ms-2">
          <input
            (ngModelChange)="onSelectModeChange($event)"
            [(ngModel)]="selectMode"
            name="selectMode"
            type="radio"
            value="default"
          />
          Openlayers default
        </label>
        <label class="ms-2">
          <input
            (ngModelChange)="onSelectModeChange($event)"
            [(ngModel)]="selectMode"
            name="selectMode"
            type="radio"
            value="hover"
          />
          Hover
        </label>

        <p class="mt-2">
          Geselecteerde provincies: {{ geselecteerdeProvincies() }}
        </p>
      </div>
      <div class="col-xl-9 col-md-8 col-sm-7">
        <div class="map-container">
          <ggc-map [mapIndex]="mapIndex" [webServices]="mapConfig"> </ggc-map>
        </div>
      </div>
      <!-- DOCS:END functionality -->
    </div>
  </div>
</app-example-format>
