<ggc-home-example-format
  [title]="componentInfo.title"
  [pathModule]="urlComponentModule"
  [urlTSDocs]="tsDocsUrl"
>
  @if (componentInfo.tags && componentInfo.tags?.length > 0) {
    <div page-labels>
      @for (tag of componentInfo.tags; track tag) {
        <span class="badge rounded-pill tag-technical mx-1">{{
          tag.toLocaleLowerCase()
        }}</span>
      }
    </div>
  }

  <div page-introduction>
    <p>
      {{ componentInfo.introduction }}
    </p>
    <p>De huidige locatie wordt opgevraagd bij de browser van de gebruiker.</p>
  </div>

  <div page-functionality>
    <!-- DOCS:START functionality -->
    <div>
      <ggc-toolbar class="toolbar-position">
        <ggc-toolbar-item
          icon="fa-solid fa-location-crosshairs"
          [clickCallback]="goToCurrentLocation.bind(this)"
          title="Huidige locatie"
        >
        </ggc-toolbar-item>
      </ggc-toolbar>
    </div>
    <div class="map-container">
      <ggc-map></ggc-map>
    </div>
    <ggc-layer-brt-achtergrondkaart></ggc-layer-brt-achtergrondkaart>
    <!-- DOCS:END functionality -->
  </div>
  <div page-tips>
    <p>
      Met <code>GgcSearchLocationService</code> en
      <code>GgcMapService</code> kan er een knop getoond worden voor het ophalen
      en tonen van de huidige locatie op de kaart.
    </p>
  </div>
</ggc-home-example-format>
