ggc-toolbar-item::ng-deep {
  button {
    &:hover,
    &:active,
    &:focus {
      border: 1px solid black;
    }
  }
}

ggc-toolbar-item-draw ::ng-deep,
ggc-toolbar-item-measure::ng-deep {
  ul {
    padding-left: 0;
    margin-bottom: 0;
  }
  button {
    &:hover,
    &:active,
    &:focus {
      border: 1px solid black;
    }
    &.active {
      color: black;
      background-color: transparent;
    }
  }
}
