<script src="opdr-2-componenten-configuratie.component.ts"></script>
<h1>Een kaartviewer configureren</h1>
<span> Pas de viewer aan door componenten te verplaats of stylen</span><br />
<span> Of voeg nieuwe componenten toe, configureer de componentnen. </span>
<br />
<div class="row">
  <div class="container-kaartlagen col-xl-2 col-md-3 col-sm-12">
    <h3>Kaartlagen</h3>
    <ggc-dataset-tree
      [themes]="datasetTreeThemes"
      [expandTreeOnInit]="true"
    ></ggc-dataset-tree>
    <br />
    <h3>Legenda</h3>
    <div>
      <ggc-legend></ggc-legend>
    </div>
  </div>
  <div class="container-map col-xl-8 col-md-7 col-sm-12">
    <div style="height: 80vh">
      <ggc-map [webServices]="webServices"></ggc-map>
    </div>
    <div class="container-toolbar">
      <ggc-toolbar>
        <ggc-toolbar-item-draw
          stopIcon="fas fa-mouse-pointer"
          drawIcon="fas fa-circle"
          drawLineIcon="fas fa-project-diagram"
          drawCircleIcon="far fa-dot-circle"
          drawRectangleIcon="far fa-square"
          drawPolygonIcon="fas fa-draw-polygon"
          deleteIcon="fas fa-trash-alt"
          moveIcon="far fa-hand-paper"
          editIcon="fas fa-pencil-alt"
        ></ggc-toolbar-item-draw>
      </ggc-toolbar>
    </div>
  </div>
  <div class="container-zoeken col-xl-2 col-md-2 col-sm-12">
    <h3>Zoeken:</h3>
    <ggc-search-location
      (events)="logSearchComponentEvents($event)"
      [searchLocationOptions]="searchLocationOptions"
    ></ggc-search-location>
    <br />
    <br />
    <h3>Objectinformatie</h3>
    <ggc-feature-info></ggc-feature-info>
  </div>
</div>
