<ggc-home-example-format
  [title]="componentInfo.title"
  [pathModule]="urlComponentModule"
  [urlTSDocs]="tsDocsUrl"
>
  @if (componentInfo.tags && componentInfo.tags?.length > 0) {
    <div page-labels>
      @for (tag of componentInfo.tags; track tag) {
        <span class="badge rounded-pill tag-technical mx-1">{{
          tag.toLocaleLowerCase()
        }}</span>
      }
    </div>
  }

  <div page-introduction>
    <p>
      {{ componentInfo.introduction }}
    </p>
    <p>
      Dit component maakt gebruik van de PDOK Locatie API. Voor dit voorbeeld
      wordt er gezocht in de collecties adres, gemeente, woonplaats en provincie.
    </p>
  </div>

  <div page-functionality>
    <div class="row">
      <!-- DOCS:START functionality -->
      <div class="col-xl-9 col-lg-8 col-md-7 col-sm-6">
        <div>
          <ggc-search-location
            (events)="logSearchComponentEvents($event)"
            [searchLocationOptions]="searchLocationOptions"
          ></ggc-search-location>
        </div>
        <div class="map-container">
          <ggc-map></ggc-map>
        </div>
        <ggc-layer-brt-achtergrondkaart></ggc-layer-brt-achtergrondkaart>
      </div>
      <!-- DOCS:END functionality -->
      <div class="col-xl-2 col-md-2 col-sm-12">
        <div class="row options-toggle">
          <label class="switch">
            <input
              type="checkbox"
              (change)="goToPage('/search-location-adv')"
            />
            <span class="slider round"></span>
            Extra opties
          </label>
        </div>
      </div>
    </div>
  </div>
  <div page-tips>
    <p>
      Met <code>AdditionalSuggestion</code> kan in andere bronnen worden
      gezocht.
    </p>
  </div>
</ggc-home-example-format>
