ggc-cesium-controls::ng-deep {
  .gc-controls {
    .gc-controls-nav {
      .cesium-control {
        .cesium-control-top,
        .cesium-control-left,
        .cesium-control-default-position,
        .cesium-control-right,
        .cesium-control-bottom {
          margin: 2px;
          background-color: #ededed !important;
        }
      }
    }
    .gc-controls-zoom {
      .cesium-control-top,
      .cesium-control-bottom {
        margin: 2px 2px 2px;
        background-color: #ededed !important;
      }
    }
  }
}

