<app-example-format
  [title]="componentInfo.title"
  [pathModule]="urlComponentModule"
  [urlTSDocs]="tsDocsUrl"
>
  @if (componentInfo.tags && componentInfo.tags?.length > 0) {
    <div page-labels>
      @for (tag of componentInfo.tags; track tag) {
        <span class="badge rounded-pill tag-technical mx-1">{{
          tag.toLocaleLowerCase()
        }}</span>
      }
    </div>
  }

  <div page-introduction>
    <p>
      {{ componentInfo.introduction }}
    </p>
    In dit voorbeeld worden getoond:
    <br />
    <ul>
      <li>
        Schaalbalk <code>ggc-scale-line</code>: toont de huidige schaal van de
        kaart in een schaalbalk (in dit voorbeeld in meters/kilometers)
      </li>
      <li>
        Schaal <code>ggc-scale-denominator</code>: toont het huidige schaalgetal
        van de kaart.
      </li>
      <li>
        Zoomniveau <code>ggc-zoom-level</code>: : toont het huidige zoomniveau
        van de kaart.
      </li>
      <li>
        Muispositie <code>ggc-mouse-position</code>: : toont de actuele
        coördinaten van de muis op de kaart.
      </li>
    </ul>
    <b>Let op</b>: De schaal is bij benadering en is afhankelijk van
    schermresolutie.
  </div>

  <div page-functionality>
    <!-- DOCS:START functionality -->
    <div class="row">
      <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5">
        <ggc-map-details-container>
          <table class="table table-sm">
            <tbody>
              <tr>
                <td>Schaalbalk</td>
                <td><ggc-scale-line></ggc-scale-line></td>
              </tr>
              <tr>
                <td>Schaal</td>
                <td><ggc-scale-denominator></ggc-scale-denominator></td>
              </tr>
              <tr>
                <td>Zoomniveau</td>
                <td><ggc-zoom-level></ggc-zoom-level></td>
              </tr>
              <tr>
                <td colspan="2">
                  Muispositie<br />
                  <ggc-mouse-position
                    placeholder="coördinaten"
                    decimalDigits="0"
                  >
                  </ggc-mouse-position>
                </td>
              </tr>
            </tbody>
          </table>
        </ggc-map-details-container>
      </div>
      <div class="col-xl-10 col-lg-9 col-md-8 col-sm-7">
        <div class="map-container">
          <ggc-map [webServices]="mapConfig" [minZoomlevel]="6"></ggc-map>
        </div>
      </div>
    </div>
    <!-- DOCS:END functionality -->
  </div>
</app-example-format>
