<ggc-home-example-format
  [pathModule]="urlComponentModule"
  [title]="componentInfo.title"
  [urlTSDocs]="tsDocsUrl"
>
  @if (componentInfo.tags && componentInfo.tags?.length > 0) {
    <div page-labels>
      @for (tag of componentInfo.tags; track tag) {
        <span class="badge rounded-pill tag-technical mx-1">{{
          tag.toLocaleLowerCase()
        }}</span>
      }
    </div>
  }

  <div page-introduction>
    <p>
      {{ componentInfo.introduction }}
    </p>
    <p>
      <i
        >Wij raden aan om objecten te selecteren op WFS of OGC API kaartlagen in
        plaats van WMS/WMTS kaartlagen. Deze bieden meer mogelijkheden en zijn
        makkelijker in te richten. Bekijk dit voorbeeld over
        <a [routerLink]="['/example-map-select']">
          selectiemogelijkheden met een WFS of OGC API kaartlaag</a
        >.</i
      >
    </p>
    <p>Voor WMS en WMTS worden de volgende selectiemethodes ondersteund:</p>
    <ul>
      <li>
        <strong>Single select</strong>: selecteer één object door te klikken in
        de kaart.
      </li>
      <li>
        <strong>Multi select</strong>:
        <ul>
          <li>selecteer meerdere objecten door te klikken in de kaart.</li>
          <li>
            verwijder een object uit de selectie door op een geselecteerd object
            te klikken.
          </li>
        </ul>
      </li>
    </ul>

    <p>
      Bij WMS/WMTS kaartlagen wordt objectinformatie niet door de browser
      opgeslagen. Bij klikken op de kaart wordt de objectinformatie van de
      betreffende locatie opgehaald. Hiervoor is het belangrijk om op het
      volgende te letten:
    </p>
    <ul>
      <li>
        Zet de property <code>getFeatureInfoOnSingleclick</code> op "true" voor
        kaartlagen die gebruikers mogen selecteren (dit geldt voor alle type
        kaartlagen).
      </li>
      <li>
        Gebruik op single en multi select altijd de default condition
        <code>singleclick</code>.
      </li>
      <li>
        Om het object weer te kunnen geven, moet de feature info(*) van de
        WMS/WMTS een geometry teruggeven.
      </li>
    </ul>
    <p>
      De SelectionService werkt voor WMS en WMTS op dezelfde manier als andere
      kaartlaag types. Ze kunnen tegelijkertijd met andere kaartlaag types
      gebruikt worden. Ook kunnen selecties gestart worden met LayerIds.
    </p>
    <p>
      (*) Dit is de feature info van de Web Map Service (WMS) of Web Map Tile
      Service (WMTS).
    </p>
  </div>

  <div page-functionality>
    <div class="row">
      <!-- DOCS:START functionality -->
      <div class="col-xl-3 col-md-4 col-sm-5">
        <label class="ms-2">
          <input
            (ngModelChange)="onSelectModeChange($event)"
            [(ngModel)]="selectMode"
            name="selectMode"
            type="radio"
            value="singleselect"
          />
          Single select
        </label>
        <label class="ms-2">
          <input
            (ngModelChange)="onSelectModeChange($event)"
            [(ngModel)]="selectMode"
            name="selectMode"
            type="radio"
            value="multiselect"
          />
          Multi select
        </label>

        <p class="mt-2">
          Geselecteerde gemeente(s): {{ geselecteerdeGemeentes() }}
        </p>
      </div>
      <div class="col-xl-9 col-md-8 col-sm-7">
        <div class="map-container">
          <ggc-map [mapIndex]="mapIndex" [webServices]="mapConfig"> </ggc-map>
        </div>
      </div>
      <!-- DOCS:END functionality -->
    </div>
  </div>
</ggc-home-example-format>
