<app-example-format
  [pathModule]="urlComponentModule"
  [title]="componentInfo.title"
  [urlTSDocs]="tsDocsUrl"
>
  @if (componentInfo.tags && componentInfo.tags?.length > 0) {
    <div page-labels>
      @for (tag of componentInfo.tags; track tag) {
        <span class="badge rounded-pill tag-technical mx-1">{{
          tag.toLocaleLowerCase()
        }}</span>
      }
    </div>
  }

  <div page-introduction>
    <p>
      {{ componentInfo.introduction }}
    </p>
    <p>
      <i
        >Wij raden aan om objecten te selecteren op WFS of OGC API kaartlagen in
        plaats van WMS/WMTS kaartlagen. Deze bieden meer mogelijkheden en zijn
        makkelijker in te richten. Bekijk dit voorbeeld over
        <a [routerLink]="['/example-map-select']">
          selectiemogelijkheden met een WFS of OGC API kaartlaag</a
        >.</i
      >
    </p>
    <p>
      Selectie op een WMS of WMTS kaartlaag werkt anders dan een GeoJSON of een
      vector kaartlaag, omdat de objecten niet in de front-end zijn opgeslagen.
      De juiste configuratie is daarom belangrijk bij selectie op WMS/WMTS
      kaartlagen:
    </p>
    <ul>
      <li>
        Zet de property <code>getFeatureInfoOnSingleclick</code> op "true" voor
        WMS of WMTS kaartlagen die gebruikers mogen selecteren.
      </li>
      <li>
        Gebruik op single en multi select altijd de default condition
        <code>singleclick</code>.
      </li>
      <li>
        Een object kan alleen op de kaart weergegeven worden als de WMS of WMTS
        de geometry aanlevert in de feature info
      </li>
    </ul>
    <p>
      De SelectionService werkt voor WMS en WMTS op dezelfde manier als andere
      kaartlaag types. Ze kunnen ook tegelijkertijd met andere kaartlaag types
      gebruikt worden. Ook kunnen selecties gestart worden met LayerIds.
    </p>
  </div>

  <div page-functionality>
    <div class="row">
      <!-- DOCS:START functionality -->
      <div class="col-xl-3 col-md-4 col-sm-5">
        <label class="ms-2">
          <input
            (ngModelChange)="onSelectModeChange($event)"
            [(ngModel)]="selectMode"
            name="selectMode"
            type="radio"
            value="singleselect"
          />
          Single select
        </label>
        <label class="ms-2">
          <input
            (ngModelChange)="onSelectModeChange($event)"
            [(ngModel)]="selectMode"
            name="selectMode"
            type="radio"
            value="multiselect"
          />
          Multi select
        </label>

        <p class="mt-2">
          Geselecteerde gemeente(s): {{ geselecteerdeGemeentes() }}
        </p>
      </div>
      <div class="col-xl-9 col-md-8 col-sm-7">
        <div class="map-container">
          <ggc-map [mapIndex]="mapIndex" [webServices]="mapConfig"> </ggc-map>
        </div>
      </div>
      <!-- DOCS:END functionality -->
    </div>
  </div>
</app-example-format>
