<app-example-format
  [title]="componentInfo.title"
  [pathModule]="urlComponentModule"
  [urlTSDocs]="tsDocsUrl"
>
  @if (componentInfo.tags && componentInfo.tags?.length > 0) {
    <div page-labels>
      @for (tag of componentInfo.tags; track tag) {
        <span class="badge rounded-pill tag-technical mx-1">{{
          tag.toLocaleLowerCase()
        }}</span>
      }
    </div>
  }

  <div page-introduction>
    <p>
      {{ componentInfo.introduction }}
    </p>
    <p>
      Wij raden aan om bij selecties WFS of OGC kaartlagen te gebruiken in
      plaats van WMS/WMTS kaartlagen, gezien dit meer mogelijkheden biedt en
      makkelijker werkt. Zie hiervoor het andere selectie voorbeeld.
    </p>
    <p>
      Een selectie op een WMS of WMTS kaartlaag wordt wel ondersteunt, maar
      werkt anders dan een geojson of een vector kaartlaag, omdat de features
      niet in de front-end zijn opgeslagen. Er is wel ondersteuning voor WMS en
      WMTS kaartlagen, maar deze moeten wel goed geconfigureerd worden:
    </p>
    <ul>
      <li>
        De property getFeatureInfoOnSingleclick moet op true worden gezet voor
        WMS of WMTS kaartlagen die geselecteerd moeten kunnen worden.
      </li>
      <li>
        Selecties op WMS of WTMS kaartlagen werken alleen met singleclick op een
        single en multi select modus.
      </li>
      <li>
        De feature info van de WMS/WMTS moet ook een geometry teruggeven, anders
        kan de feature niet worden weergegeven.
      </li>
    </ul>
    <p>
      Voor de rest werken WMS en WMTS kaartlagen hetzelfde en kunnen op dezelfde
      manier (en ook tegelijkertijd) gebruikt worden in de SelectionService met
      andere kaartlagen. Ook de optie LayerIds voor het starten van een selectie
      werkt met de WMS/WMTS kaartlagen.
    </p>
  </div>

  <div page-functionality>
    <div class="functionality-layout">
      <!-- DOCS:START functionality -->
      <div class="map-controls">
        <label class="ms-2">
          <input
            type="radio"
            name="selectMode"
            value="singleselect"
            [(ngModel)]="selectMode"
            (ngModelChange)="onSelectModeChange($event)"
          />
          Single select
        </label>
        <label class="ms-2">
          <input
            type="radio"
            name="selectMode"
            value="multiselect"
            [(ngModel)]="selectMode"
            (ngModelChange)="onSelectModeChange($event)"
          />
          Multi select
        </label>

        <p class="mt-2">
          Geselecteerde gemeentes: {{ geselecteerdeGemeentes() }}
        </p>
      </div>
      <div class="map-container">
        <ggc-map [webServices]="mapConfig" [mapIndex]="mapIndex"> </ggc-map>
      </div>
      <!-- DOCS:END functionality -->
    </div>
  </div>
</app-example-format>
