<app-example-format
  [title]="componentInfo.title"
  [pathModule]="urlComponentModule"
  [urlTSDocs]="tsDocsUrl"
>
  @if (componentInfo.tags && componentInfo.tags.length > 0) {
    <div page-labels>
      @for (tag of componentInfo.tags; track tag) {
        <span class="badge rounded-pill tag-technical mx-1">{{
          tag.toLocaleLowerCase()
        }}</span>
      }
    </div>
  }

  <div page-introduction>
    <p>
      {{ componentInfo.introduction }}
    </p>
    <p>
      In dit voorbeeld is een zoekbalk gekoppeld aan de 3D kaart om te zoeken op
      bijvoorbeeld woonplaats of adres. Ook is het mogelijk om naar je huidige
      locatie te zoomen.
    </p>
    <p>Instelmogelijkheden voor het tonen van objectinformatie:</p>
    <ul>
      <li>Automatisch zoomen naar selectie (<code>zoomToResult</code>)</li>
      <li>Selectie automatisch markeren (<code>markResult</code>)</li>
    </ul>
  </div>

  <div page-functionality>
    <!-- DOCS:START functionality -->
    <div class="row">
      <div class="col-xl-4 col-md-4 col-sm-12">
        <div class="cesium-controls">
          <ggc-search-location
            [searchLocationOptions]="searchLocationOptions"
          ></ggc-search-location>
          <br />
          <span><b>Cesium controls</b></span>
          <br />
          <ggc-cesium-controls
            [downIcon]="'fas fa-chevron-down'"
            [upIcon]="'fas fa-chevron-up'"
            [leftIcon]="'fas fa-chevron-left'"
            [rightIcon]="'fas fa-chevron-right'"
            [minusIcon]="'fas fa-minus'"
            [plusIcon]="'fas fa-plus'"
            [defaultCameraPosition]="'far fa-eye'"
          ></ggc-cesium-controls>
        </div>
      </div>
      <div class="col-xl-8 col-md-8 col-sm-12">
        <div class="map-container">
          <ggc-cesium-viewer
            [viewerOptions]="viewerOptions"
            [cameraOptions]="cameraOptions"
            (ready)="onCesiumReady()"
            [webServices]="webService"
          ></ggc-cesium-viewer>
        </div>
      </div>
    </div>
  </div>
  <!-- DOCS:END functionality -->
</app-example-format>
