<app-example-format
  [title]="componentInfo.title"
  [pathModule]="urlComponentModule"
  [urlTSDocs]="tsDocsUrl"
>
  @if (componentInfo.tags && componentInfo.tags?.length > 0) {
    <div page-labels>
      @for (tag of componentInfo.tags; track tag) {
        <span class="badge rounded-pill tag-technical mx-1">{{
          tag.toLocaleLowerCase()
        }}</span>
      }
    </div>
  }

  <div page-introduction>
    <p>{{ componentInfo.introduction }}</p>
    <p>
      Bij het tekenen kan het middelpunt van de kaart gebruikt worden om
      nauwkeurig te tekenen.
    </p>
    <p>
      Kies een figuur (punt, lijn, vlak) om te tekenen. Beweeg de kaart onder de
      markering in het midden. Voeg punten toe aan de tekening met 'Voeg punt
      toe aan tekening'.
    </p>
  </div>

  <div page-functionality>
    <div class="row">
      <!-- DOCS:START functionality -->
      <div class="col-md-3 col-sm-6">
        <div>
          <b>Tekenen</b>
          <div class="d-flex flex-column align-items-stretch">
            <button
              [class.active]="activeDrawType() === mapComponentDrawTypes.POINT"
              (click)="startDrawPoint()"
            >
              Teken punt
            </button>
            <button
              [class.active]="
                activeDrawType() === mapComponentDrawTypes.LINESTRING
              "
              (click)="startDrawLine()"
            >
              Teken lijn
            </button>
            <button
              [class.active]="
                activeDrawType() === mapComponentDrawTypes.POLYGON
              "
              (click)="startDrawPolygon()"
            >
              Teken vlak
            </button>
            <hr />
            <div class="d-flex flex-column align-items-stretch">
              <button (click)="setPoint()">Voeg punt toe aan tekening</button>
            </div>
            <hr />
            <button (click)="stopDrawing()">Tekening afronden</button>
          </div>
        </div>
      </div>
      <div class="col-md-9 col-sm-10">
        <div class="map-container">
          <ggc-map [webServices]="mapConfig" [minZoomlevel]="6"></ggc-map>
        </div>
      </div>
      <!-- DOCS:END functionality -->
    </div>
  </div>
</app-example-format>
