<app-example-format
  [title]="componentInfo.title"
  [pathModule]="urlComponentModule"
  [urlTSDocs]="tsDocsUrl"
>
  @if (componentInfo.tags && componentInfo.tags?.length > 0) {
    <div page-labels>
      @for (tag of componentInfo.tags; track tag) {
        <span class="badge rounded-pill tag-technical mx-1">{{
          tag.toLocaleLowerCase()
        }}</span>
      }
    </div>
  }

  <div page-introduction>
    <p>{{ componentInfo.introduction }}</p>
    <p>
      Met <code>setDrawStyle</code> kan de opmaak van meetlabels aangepast
      worden met een eigen stijl.
    </p>
    <p>In dit voorbeeld is de weergave van de volgende stijlen aangepast:</p>
    <ul>
      <li>
        Segment label: tekst en kleur, met <code>segmentLengthLabelStyle</code>.
      </li>
      <li>
        Totale lengte label: tekst, kleur en font, met
        <code>lengthLabelStyle</code>.
      </li>
    </ul>
    <p>
      Het oppervlakte label kan aangepast worden met
      <code>areaLabelStyle</code>.
    </p>
  </div>

  <div page-functionality>
    <div class="row">
      <!-- DOCS:START functionality -->
      <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
        <div>
          <b>Meten</b>
          <div class="d-flex flex-column align-items-stretch">
            <button [class.active]="measuring()" (click)="measureLine()">
              Teken en meet lijn
            </button>
            <hr />
            <button (click)="stopMeasureManual()">
              Tekenen en meten afronden
            </button>
          </div>
        </div>
      </div>
      <div class="col-xl-9 col-lg-8 col-md-7 col-sm-6">
        <div class="map-container">
          <ggc-map [webServices]="mapConfig" [minZoomlevel]="6"></ggc-map>
        </div>
      </div>
      <!-- DOCS:END functionality -->
    </div>
  </div>
</app-example-format>
