<app-example-format
  [title]="componentInfo.title"
  [pathModule]="urlComponentModule"
  urlTSDocs="https://docs.kadaster.nl/ggc/ggs-ggc-library/tsdocs/classes/ggc-layer-image_src_lib_layer-image_ggc-layer-image.component.GgcSearchLocationComponent.html"
  urlVoorbeelden=""
  urlChangelog=""
  [codeHtmlPath]="'code/examples/example-layer/example-layer-vector-tile/example-layer-vector-tile.component.html'"
  [codeTypescriptPath]="'code/examples/example-layer/example-layer-vector-tile/example-layer-vector-tile.component.ts'"
  [codeScssPath]="'code/examples/example-layer/example-layer-vector-tile/example-layer-vector-tile.component.scss'"
  [kaartConfigFilePath]="'code/examples/example-layer/example-layer-vector-tile/kaartconfig.json'"
  urlCodeHtml="example-snapping/example-layer-vector-tile/example-layer-vector-tile.component.html"
  urlCodeTypescript="example-snapping/example-layer-vector-tile/example-layer-vector-tile.component.ts"
  urlCodeScss="example-snapping/example-layer-vector-tile/example-layer-vector-tile.component.scss"
>
  @if (componentInfo.tags && componentInfo.tags?.length > 0) {
    <div page-labels>
      @for (tag of componentInfo.tags; track tag) {
        <span class="badge rounded-pill tag-technical mx-1">{{
          tag.toLocaleLowerCase()
        }}</span>
      }
    </div>
  }

  <div page-introduction>
    <p>
      {{ componentInfo.introduction }}
    </p>
    <p>
      In dit voorbeeld is de BRT achtergrondkaart als laag toegevoegd aan de
      kaart. Deze kaartlaag wordt in MapBox Vector Tiles formaat opgevraagd bij
      een OGC API - Tiles. Door het meegeven van een <code>style</code>, kan de
      stijl van de kaartlaag aangepast worden (in dit voorbeeld: dark mode).
    </p>
  </div>

  <div page-functionality>
    <!-- DOCS:START functionality -->
    <div class="map-container">
      <ggc-map [webServices]="mapConfig"></ggc-map>
    </div>
    <!-- DOCS:END functionality -->
  </div>
</app-example-format>
