<app-example-format
  [title]="componentInfo.title"
  [pathModule]="urlComponentModule"
  [urlTSDocs]="tsDocsUrl"
>
  @if (componentInfo.tags && componentInfo.tags.length > 0) {
    <div page-labels>
      @for (tag of componentInfo.tags; track tag) {
        <span class="badge rounded-pill tag-technical mx-1">{{
          tag.toLocaleLowerCase()
        }}</span>
      }
    </div>
  }

  <div page-introduction>
    <p>
      {{ componentInfo.introduction }}
    </p>
    <p>
      In dit voorbeeld zijn zijn features te selecteren en die worden
      automatisch getoond in het feature-info component. Het feature-info
      component start automatisch een selectie die werkt met een enkele klik en
      een blauwe highlight.
    </p>
    <p>
      Mocht je de selectie-instellingen willen aanpassen, dan moet je zelf een
      selectie starten en autoStartSelect uitzetten. Zie hiervoor het andere 3d
      voorbeeld met meerdere selecties.
    </p>
  </div>

  <div page-functionality>
    <!-- DOCS:START functionality -->
    <div class="row">
      <div class="col-xl-4 col-md-4 col-sm-12">
        <div class="cesium-controls">
          <span><b>Cesium controls</b></span>
          <br />
          <ggc-cesium-controls
            [downIcon]="'fas fa-chevron-down'"
            [upIcon]="'fas fa-chevron-up'"
            [leftIcon]="'fas fa-chevron-left'"
            [rightIcon]="'fas fa-chevron-right'"
            [minusIcon]="'fas fa-minus'"
            [plusIcon]="'fas fa-plus'"
            [defaultCameraPosition]="'far fa-eye'"
          ></ggc-cesium-controls>
        </div>
        <b>Feature Info</b>
        <br />
        <ggc-feature-info [viewerType]="viewerType"></ggc-feature-info>
      </div>
      <div class="col-xl-8 col-md-8 col-sm-12">
        <div class="map-container">
          <ggc-cesium-viewer
            [viewerOptions]="viewerOptions"
            [cameraOptions]="cameraOptions"
            (ready)="onCesiumReady()"
            [webServices]="webService"
          ></ggc-cesium-viewer>
        </div>
      </div>
    </div>
  </div>
  <!-- DOCS:END functionality -->
</app-example-format>
