<app-example-format
  [title]="componentInfo.title"
  [pathModule]="urlComponentModule"
  [urlTSDocs]="tsDocsUrl"
  [pathKaartConfig]="kaartConfig"
  [pathExtraConfig]="'example-3d/example-3d-layer-camera-options/treeconfig.json'"
  [extraConfigLabel]="`DatasetTree Configuration (json)`"
>
  @if (componentInfo.tags && componentInfo.tags.length > 0) {
    <div page-labels>
      @for (tag of componentInfo.tags; track tag) {
        <span class="badge rounded-pill tag-technical mx-1">{{
          tag.toLocaleLowerCase()
        }}</span>
      }
    </div>
  }

  <div page-introduction>
    <p>
      {{ componentInfo.introduction }}
    </p>
    <p>
      In dit voorbeeld zijn er extra camera opties gekoppeld aan de 3D gebouwen
      kaartlaag, zodat deze enkel tussen specifieke camera-hoeken zichtbaar
      zijn. Als deze optie wordt gebruikt, dan zal de dataset tree ook reageren
      met een enabled of disabled visualisatie,
    </p>
  </div>

  <div page-functionality>
    <!-- DOCS:START functionality -->
    <div class="row">
      <div class="col-xl-3 col-md-4 col-sm-12">
        <div class="cesium-controls">
          <span><b>Cesium controls</b></span>
          <br />
          <ggc-cesium-controls
            [downIcon]="'fas fa-chevron-down'"
            [upIcon]="'fas fa-chevron-up'"
            [leftIcon]="'fas fa-chevron-left'"
            [rightIcon]="'fas fa-chevron-right'"
            [minusIcon]="'fas fa-minus'"
            [plusIcon]="'fas fa-plus'"
            [defaultCameraPosition]="'far fa-eye'"
          ></ggc-cesium-controls>
        </div>
        <ggc-dataset-tree
          [viewerType]="viewerType"
          [expandTreeOnInit]="true"
          [themes]="datasetTreeConfig"
        ></ggc-dataset-tree>
      </div>
      <div class="col-xl-9 col-md-8 col-sm-12">
        <div class="map-container">
          <ggc-cesium-viewer
            [viewerOptions]="viewerOptions"
            [cameraOptions]="cameraOptions"
            (ready)="onCesiumReady()"
            [webServices]="webService"
            [tilesetConfigs]="tilesetConfigs"
          ></ggc-cesium-viewer>
        </div>
      </div>
    </div>
  </div>
  <!-- DOCS:END functionality -->
</app-example-format>
