<div class="utrecht-page-body__content downloads-npm-page">
  <h1 class="nl-heading nl-heading--level-3 ggc-heading">Downloads (npm)</h1>

  <p class="nl-paragraph ggc-paragraph">
    Via de links hieronder kom je op de npm pagina's van de componenten, met
    installatie instructies.
  </p>

  <h2 class="nl-heading nl-heading--level-4 ggc-heading">
    Beschikbare npm packages
  </h2>

  <ul
    role="list"
    class="utrecht-link-list utrecht-link-list--html-ul ggc-link-list"
  >
    <li class="utrecht-link-list__item">
      <a
        href="https://www.npmjs.com/package/@kadaster/ggc-dataset-tree"
        target="_blank"
        rel="noopener noreferrer"
        class="utrecht-link utrecht-link--html-a utrecht-link-list__link"
      >
        <span class="utrecht-icon" role="presentation" aria-hidden="true">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="tabler-icon tabler-icon-chevron-right"
          >
            <path d="M9 6l6 6l-6 6"></path>
          </svg>
        </span>

        <span class="utrecht-link-list__link-text"> ggc-dataset-tree </span>

        <span class="fa fa-external-link icon-suffix" aria-hidden="true"></span>
      </a>
    </li>
    <li class="utrecht-link-list__item">
      <a
        href="https://www.npmjs.com/package/@kadaster/ggc-feature-info"
        target="_blank"
        rel="noopener noreferrer"
        class="utrecht-link utrecht-link--html-a utrecht-link-list__link"
      >
        <span class="utrecht-icon" role="presentation" aria-hidden="true">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="tabler-icon tabler-icon-chevron-right"
          >
            <path d="M9 6l6 6l-6 6"></path>
          </svg>
        </span>

        <span class="utrecht-link-list__link-text"> ggc-feature-info </span>

        <span class="fa fa-external-link icon-suffix" aria-hidden="true"></span>
      </a>
    </li>
    <li class="utrecht-link-list__item">
      <a
        href="https://www.npmjs.com/package/@kadaster/ggc-legend"
        target="_blank"
        rel="noopener noreferrer"
        class="utrecht-link utrecht-link--html-a utrecht-link-list__link"
      >
        <span class="utrecht-icon" role="presentation" aria-hidden="true">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="tabler-icon tabler-icon-chevron-right"
          >
            <path d="M9 6l6 6l-6 6"></path>
          </svg>
        </span>

        <span class="utrecht-link-list__link-text"> ggc-legend </span>

        <span class="fa fa-external-link icon-suffix" aria-hidden="true"></span>
      </a>
    </li>
    <li class="utrecht-link-list__item">
      <a
        href="https://www.npmjs.com/package/@kadaster/ggc-map"
        target="_blank"
        rel="noopener noreferrer"
        class="utrecht-link utrecht-link--html-a utrecht-link-list__link"
      >
        <span class="utrecht-icon" role="presentation" aria-hidden="true">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="tabler-icon tabler-icon-chevron-right"
          >
            <path d="M9 6l6 6l-6 6"></path>
          </svg>
        </span>

        <span class="utrecht-link-list__link-text"> ggc-map </span>

        <span class="fa fa-external-link icon-suffix" aria-hidden="true"></span>
      </a>
    </li>
    <li class="utrecht-link-list__item">
      <a
        href="https://www.npmjs.com/package/@kadaster/ggc-map-3d"
        target="_blank"
        rel="noopener noreferrer"
        class="utrecht-link utrecht-link--html-a utrecht-link-list__link"
      >
        <span class="utrecht-icon" role="presentation" aria-hidden="true">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="tabler-icon tabler-icon-chevron-right"
          >
            <path d="M9 6l6 6l-6 6"></path>
          </svg>
        </span>

        <span class="utrecht-link-list__link-text"> ggc-map-3d </span>

        <span class="fa fa-external-link icon-suffix" aria-hidden="true"></span>
      </a>
    </li>
    <li class="utrecht-link-list__item">
      <a
        href="https://www.npmjs.com/package/@kadaster/ggc-models"
        target="_blank"
        rel="noopener noreferrer"
        class="utrecht-link utrecht-link--html-a utrecht-link-list__link"
      >
        <span class="utrecht-icon" role="presentation" aria-hidden="true">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="tabler-icon tabler-icon-chevron-right"
          >
            <path d="M9 6l6 6l-6 6"></path>
          </svg>
        </span>

        <span class="utrecht-link-list__link-text"> ggc-models </span>

        <span class="fa fa-external-link icon-suffix" aria-hidden="true"></span>
      </a>
    </li>
    <li class="utrecht-link-list__item">
      <a
        href="https://www.npmjs.com/package/@kadaster/ggc-search-location"
        target="_blank"
        rel="noopener noreferrer"
        class="utrecht-link utrecht-link--html-a utrecht-link-list__link"
      >
        <span class="utrecht-icon" role="presentation" aria-hidden="true">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="tabler-icon tabler-icon-chevron-right"
          >
            <path d="M9 6l6 6l-6 6"></path>
          </svg>
        </span>

        <span class="utrecht-link-list__link-text"> ggc-search-location </span>

        <span class="fa fa-external-link icon-suffix" aria-hidden="true"></span>
      </a>
    </li>
    <li class="utrecht-link-list__item">
      <a
        href="https://www.npmjs.com/package/@kadaster/ggc-toolbar"
        target="_blank"
        rel="noopener noreferrer"
        class="utrecht-link utrecht-link--html-a utrecht-link-list__link"
      >
        <span class="utrecht-icon" role="presentation" aria-hidden="true">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="tabler-icon tabler-icon-chevron-right"
          >
            <path d="M9 6l6 6l-6 6"></path>
          </svg>
        </span>

        <span class="utrecht-link-list__link-text"> ggc-toolbar </span>

        <span class="fa fa-external-link icon-suffix" aria-hidden="true"></span>
      </a>
    </li>
  </ul>
</div>
