<app-example-format
  [title]="componentInfo.title"
  [pathModule]="urlComponentModule"
  [urlTSDocs]="tsDocsUrl"
>
  @if (componentInfo.tags && componentInfo.tags?.length > 0) {
    <div page-labels>
      @for (tag of componentInfo.tags; track tag) {
        <span class="badge rounded-pill tag-technical mx-1">{{
          tag.toLocaleLowerCase()
        }}</span>
      }
    </div>
  }

  <div page-introduction>
    <p>{{ componentInfo.introduction }}</p>
    <p>
      Bij tekenen kunnen lijnen of vlakken worden gevolgd uit andere GeoJSON
      kaartlagen met <code>trace</code> uit de <code>DrawOptions</code>.
      <br />
      In dit voorbeeld kunnen Provinciegrenzen en Gemeentegrenzen worden
      nagetekend.
    </p>
  </div>

  <div page-functionality>
    <div class="row">
      <!-- DOCS:START functionality -->
      <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
        <div>
          <b>Tekenen met behulp van traceren (overtrekken)</b>
          <div class="d-flex flex-column align-items-stretch">
            <button
              [class.active]="
                activeDrawType() === mapComponentDrawTypes.LINESTRING
              "
              (click)="startDrawLine()"
            >
              Traceer Provincie grens met een Lijn
            </button>
            <button
              [class.active]="
                activeDrawType() === mapComponentDrawTypes.POLYGON
              "
              (click)="startDrawPolygon()"
            >
              Traceer Gemeente grens met een Polygoon
            </button>
          </div>
        </div>
      </div>
      <div class="col-xl-9 col-lg-8 col-md-7 col-sm-6">
        <div class="map-container">
          <ggc-map [minZoomlevel]="6" [webServices]="mapConfig"></ggc-map>
        </div>
      </div>
      <!-- DOCS:END functionality -->
    </div>
  </div>
</app-example-format>
